<footer class="nx-footer-container">
    <div class="">
        <div class="row">
            <div class="nx-content-row">
                <div class="nx-footer-content">
                    <div class="nx-content">
                        <div class="nx-footer-versio-content">
                            <!--<sub class="nx-container__version">powered by: 0.0.0</sub>-->
                        </div>
                        <div class="nx-footer-item-content">
                            <ul class="nav nav-tabs nx-footer__items">
                                <li class="">
                                    <a class="footer-logo">l</a>
                                </li>
                                <li class="">
                                    <!--<a [href]="configData.termsUrl">{{'btn_terms_of_use' | translate}}</a>-->
                                    <a [href]="">ÁSZF</a>
                                </li>
                                <li class="">
                                    <!--<a [href]="configData.privacyStatementUrl">{{'btn_privacy_statement' | translate}}</a>-->
                                    <a [href]="">Adatkezelési tájékoztatzó</a>
                                </li>

                                <li class="">
                                    <!--<a [href]="configData.helpUrl">{{'btn_help' | translate}}</a>-->
                                    <a [href]="">Súgó</a>
                                </li>

                                <li class="">
                                    <!--<a [href]="configData.helpUrl">{{'lbl_contact_site' | translate}}</a>-->
                                    <a [href]="">Kapcsolat</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nx-footer-content">
                    <div class="nx-content">
                        <div class="nx-footer-versio-content nx-footer-versio-content--margin-bottom-sm">
                            <sub class="nx-container__version">powered by:</sub>
                            <!--<sub class="nx-container__version">powered by: {{version}}</sub>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
