<!--<app-reactive-form></app-reactive-form>-->
<!--<app-dynamic-form [config]="config"></app-dynamic-form>-->
<!--  [(ngModel)]="inputValue"-->
    <!--formControlName="valueName"-->
<!--<form [formGroup]="myForm"></form>-->
<app-custom-input
  [(ngModel)]="inputData"
  [validators]="validators"
  [required]="true"
></app-custom-input>
<!--<app-custom-input
  [(ngModel)]="inputData"
  [required]="true"

></app-custom-input>-->
  <!--[validators]="validators"-->

  <!--[validators]="validators"-->
