.imageComponent {
    width: 100%;
    height: 100%;
    .imageContent {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #c9c9c92e;
        .spinnerContent {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}
