<div class="video-content">
  <video class="videoElement" autoplay playsinline #videoTag></video>
  <!--  <video class="videoElement" autoplay playsinline #remoteVideo></video>-->
</div>
<div class="btn-content">
  <button class="btn btn-primary" (click)="start()">Start</button>
<!--  <button class="btn btn-primary" *ngIf="isServer" (click)="call()">Call</button>-->
<!--  <button class="btn btn-primary" *ngIf="isCallBtn" (click)="call()">Call</button>-->
<!--  <button class="btn btn-primary" *ngIf="isClose" (click)="closePeerConnection()">Close</button>-->
</div>
