<div class="dataChannelComponent">
  <div class="jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading">DataChannel</h1>
      <div class="btn-content">
        <button class="btn btn-primary" (click)="channelConnect()">Connect channel</button>
      </div>
      <div class="btn-content">
        <button class="btn btn-primary" (click)="channelOpen()">Open channel</button>
      </div>
      <div class="btn-content">
        <button class="btn btn-primary" (click)="channelSend()">Send channel</button>
      </div>
    </div>
  </div>
</div>
