@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

body {
  margin: 0;
  padding: 0;
  background-color: floralwhite;
}

/* remove cell boorder */
.ag-cell-focus, .ag-cell-no-focus {
  border: none !important;
}

.no-border.ag-cell:focus {
  border: none !important;
  outline: none;
}

.cell1 {
  font-weight: bold;
  &.active {
    background-color: orange;
  }
}
