@import '../../../../variables.scss';

.statusLineComponent {
    font-size: 12px;
    position: relative;
    .statusLineLabel {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        width: 75px;
    }
    .statusLineContent {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 10px;
        border: 1px solid #999;;
        .statusLine {
            width: 0;
            height: 100%;
            background-color: #0497bb;
            &.isNotRequired {
                background-color: #555;
            }
        }
    }
    @media(max-width: $md-min-width) {
        .statusLineContent {
            width: 70px;
        }
    }
    @media(max-width: $sm-min-width) {
        .statusLineLabel {
            width: inherit;

        }
        .statusLineContent {
            width: 150px;
        }
    }
    @media(max-width: $sm-mobil-ios) {
        .statusLineLabel {
            width: inherit;
        }
        .statusLineContent {
            width: 100px;
        }
    }
    .statusLineValue {
        display: inline-block;
        vertical-align: middle;
        color: #999;
    }
    .statusText {
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
        color: #0497bb;
    }
    .statusIcon {
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        .success {
            position: absolute;
            font-size: 18px;
            top: -2px;
            color: $success-icon-color;
        }
        .unsuccess {
            position: absolute;
            font-size: 16px;
            color: $unsuccess-icon-color;
        }
    }
    .informationIcon {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-top: -2px;
        width: 20px;
        height: 20px;
        background-image: $data_uri_34;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    @media(max-width: $sm-mobil-ios) {
        .informationIcon {
            display: none;
        }
    }
}
