<div class="statusLineComponent">
    <!--<div class="statusLineLabel labelText" [attr.info-data]="toolTipDataLabel">{{labelText}}</div>-->
    <div class="statusLineLabel labelText" tooltip="{{toolTipDataLabel}}" container="body">{{labelText}}</div>
    <div class="statusLineContent">
        <div class="statusLine" [ngClass]="{isNotRequired:statusColorLine === false}"
             [ngStyle]="{'width':startValue+'%'}"></div>
    </div>
    <div class="statusLineValue" tooltip="{{startValue+'%'}}" container="body">{{startValue+'%'}}</div>
    <div *ngIf="statusIcon != null" class="statusIcon">
        <i *ngIf="statusIcon === true" class="glyphicon glyphicon-ok success"></i>
        <i *ngIf="statusIcon === false " class="glyphicon glyphicon-remove unsuccess"></i>
    </div>
    <div *ngIf="requiredText" class="statusText" tooltip="{{requiredToolTipText}}" container="body">{{requiredText}}</div>
    <div class="informationIcon" tooltip="{{toolTipData}}" container="body"></div>
</div>
