<div class="navTabComponens" [ngClass]="{'navDropDown': isNavTabShow}">
    <div class="navTabContent" role="tablist">
        <div *ngFor="let item of navData"
             class="tabItem"
             routerLink={{item.urlPath}}
             routerLinkActive="active">
            <span class="tabBtn">{{ item.label | translate }}</span>
        </div>
    </div>
    <div class="dropDownContent" *ngIf="isNavTabShow">
        <ulms-dropdown-split
            [groupName]="'navTabLinks'"
            [labelText]="'btn_to_course' | translate"
            [itemData]=navTabLinks
        >
        </ulms-dropdown-split>
    </div>

</div>

<!--Count Bubble-->
<!--
<span id="invitationCoursesCountValue" class="pull-right" *ngIf="invitedCount > 0">
                                <span class="countValueButtonInner">
                                    {{ invitedCount }}
                                </span>
                            </span>-->
