@import '../../../../variables.scss';

$paddings: 12px;
.navTabComponens {
    width: 100%;
    padding-top: 20px;

    &.navDropDown {
        .navTabContent {
            width: 72%;
            display: inline-block;
        }
        .dropDownContent {
            float: right;
            display: inline-block;
            margin-top: 2px;
            width: 26.5%;
            border-radius: 2px;

        }
        @media(max-width: $md-min-width) {
            .navTabContent {
                width: 74%;
            }
            .dropDownContent {
                width: 24.5%;
            }
        }
        @media(max-width: $sm-min-width) {
            .navTabContent {
                width: 100%;
            }
            .dropDownContent {
                display: none;

            }
        }
    }
    .navTabContent {
        background-color: #0497bb;
        width: 100%;
        font-size: 0;
        padding: $paddings 0;
        border-radius: 2px;
        .tabItem {
            position: relative;
            display: inline-block;
            padding: 0 4px;
            &:focus {
                outline: 0;
            }
            .tabBtn {
                text-decoration: none;
                cursor: pointer;
                color: white;
                font-size: 14px;
                padding: 4px $paddings + 10 $paddings $paddings + 10;
                border-radius: 3px 3px 0 0;
                &:hover {
                    background-color: #04aad4;
                }
                $animationDuration: 0.25s;
                //$animationEase: cubic-bezier(0.42, 0, 0.02, 1.07);
                $animationEase: ease-out;
                transition: background-color $animationDuration $animationEase;
                -webkit-transition: background-color $animationDuration $animationEase;

            }
            .countValueContent{
                position: absolute;
                font-size: 11px;
                border-radius: 2px;
                font-weight: bold;
                top: -10px;
                right: 0;
                .countValue{
                    color: white;
                    padding: 1px 3px;
                    background-color: #E9451F;
                }
            }
        }
        .active {
            .tabBtn {

                cursor: default;
                background-color: #fff;
                color: #0497bb;
                &:hover {
                    background-color: white;
                }

            }
        }
    }
    @media(max-width: $sm-min-width) {
        .navTabContent {
            .tabItem {
                padding: 0 5px;
                .tabBtn {
                    padding: 5px $paddings $paddings $paddings;
                }
            }
        }
    }
    @media(max-width: $sm-mobil) {
        .navTabContent {
            .tabItem {
                padding: 0;
                .tabBtn {
                    margin-left: 5px;
                    padding: 5px 8px 12px 8px;
                    font-size: 12px;
                }
            }
        }
    }
    @media(max-width: $sm-mobil-ios) {
        .navTabContent {
            //text-align: center;
            .tabItem {
                padding: 0;
                .tabBtn {
                    padding: 5px 8px 12px 8px;
                    font-size: 11px;
                }
            }
        }
    }
}
