<div class="videoCallComponent">
  <h4>Video / Audio Call</h4>
  <p>User: {{userName}}</p>
  <div class="wrapper">
    <div class="btn-content">
      <button (click)="list()">List</button>
      <button (click)="register()">Register</button>
      <button (click)="call()">Call</button>
<!--      type="number" [(ngModel)]="callName"-->
      <input type="text" [(ngModel)]="callName">
    </div>
    <div class="video-content">
      <video class="videoElement" autoplay playsinline #localVideo></video>
    </div>
    <div class="video-content">
      <video class="videoElement" autoplay playsinline #remoteVideo></video>
    </div>
  </div>
</div>
