$icons-path: "~ag-grid/src/styles/icons/";
$header-background-color : #a2aaac;
$font-family: 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
$secondary-font-family : 'Open Sans', Arial, 'Helvetica Neue', sans-serif; 
$secondary-font-size: 12px;
$border-color: #ffffff;
$odd-row-background-color: rgba(4, 150, 187, 0.2);
$icon-color: #ffffff;
