<div class="statusContainer">
  <div class="statusWrapper">
    <div class="tiresContent">
      <div class="tiresTitle">Current tries: </div>
      <div class="tiresValue">
        <div *ngIf="score$ | async; let scoreValue; else defaultScore">{{scoreValue}}</div>
      </div>
    </div>
    <div class="highScoreContent">
      <div class="highScoreTitle">Best: </div>
      <div class="highScoreValue">
        <div class="" *ngIf="highScore$ | async; let highScoreValue; else defaultScore">{{highScoreValue}}</div>
      </div>
    </div>
    <div class="restartContent">
      <div class="restartBtn" (click)="restartGame()">RESTART</div>
    </div>
  </div>
</div>
<ng-template #defaultScore>0</ng-template>
