.nx-banner--top {
    flex: 0 1 auto;
}

.nx-cover-pic {
    width: 100% \9;
}

.nx-nav-container{

    height: 45px;
}

.nx-nav--height{

min-height: 50px;
}

.nx-navbar__logo {
    display: block;
    min-width: 135px;
    min-height: 50px;
    background: no-repeat url('./assets/images/logo_nexius.svg') 0px;
}

.nx-navbar-right{
    justify-content: flex-end;
}

.nx-navbar-toggle .nx-icon-bar {
    background: $nx-white;
}

.nx-nav-item {
    text-align: left;
    color: $nx-white !important;
    cursor: pointer;
    border-top: none;
    border-bottom: none;
    border-right: none;

    &:hover{
        background: rgba(255, 255, 255, .2);
        color: $nx-white;
        text-decoration: none;
    }
    
    a {
        display: block;
        padding: 17px 15px;
    }
    
    >a:hover{
        color: $nx-white;
        text-decoration: none;
    }

    &.dropdown {
        padding: 0;
    }

    & .dropdown-item {
        &:hover {
            background: rgba(255, 255, 255, .2);
        }

        a {
            padding: 8px 0;
        }

    }
    
}


.navbar-dark .navbar-toggler-icon { 
    color: $nx-white;
}

.nx-language-selector {

    &:hover{
        background: rgba($nx-white, .2);
        color: $nx-white;
        text-decoration: none;
    }

    .nx-language-selector__dropdown {
        text-align: center;
    
        a {
            display: block;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }
    }
    
    a:hover{
        color: $nx-white;
        text-decoration: none;
    }
}

.nx-nav-item, .nx-language-selector {

    .nx-nav-item__dropdown, .nx-language-selector__dropdown {
        min-width: 100%;
    }

}

.nx-flag{
    display: inline-block;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    vertical-align: sub;
}

.nx-flag-hu{
    background: no-repeat url('./assets/images/hu.png') right top;

}

.nx-flag-en{
    background: no-repeat url('./assets/images/en.png') right top;
}

.nx-mgt-5{

    margin-top:5px;
}

@media (max-width: 767px) {
    .nx-nav-container {
        padding-left: 0;
        padding-right: 0;
        .navbar-collapse{
            float: left !important;
        }
    }
}