:host {
  display: flex;
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: 630px) {
    .cardsContainer {
      justify-content: space-between;
    }
  }
}
