<div class="container">
    <div class="row">
        <div class="payment-back-stat-content">
            <div class="nx-content">
                <div class="pay-card-status-title">Sikeres kártya ellenőrzés.</div>
                <div class="pay-card-status">
                    <span>Simple Pay referenciaszám:</span>
                    <span>99083756</span>
                </div>
                <div class="pay-card-status">
                    <span>Megrendelési azonostó:</span>
                    <span>1547442f-3253-6458-7247-766625887674</span>
                </div>
                <div class="pay-card-status">
                    <span>Dátum:</span>
                    <span> 2017.09.15. 15:19:41</span>
                </div>

                <div class="spinner-content">
                    <div class="spinner-box"></div>
                    <div class="spinner-text">
                        Kérjük várjon, amíg a bank visszajelzi a tranzakció sikerességét!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="payment-detail-component">
    <div class="container">
        <div class="row">
            <div class="nx-content">
                <div class="error-btn-content">
                    <div class="btn-content">
                        <a href="/" class="btn-pay-download">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </div>
                </div>
                <div class="payment-detail-status-content">
                    <div class="pay-status-content">
                        <div class="pay-status bg-success">
                            <span>Fizetés státusza:</span>
                            <span>sikeres fizetés</span>
                        </div>
                    </div>
                </div>
                <!--<div class="payment-detail-button-content">
                    <div class="btn-content">
                        <a href="" class="btn-arrow-left">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="btn-content">
                        <a href="" class="btn-pay-download">
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                    <div class="btn-content">
                        <a href="" class="btn-pay">Fizetés</a>
                    </div>
                    <div class="btn-content float-right">
                        <a href="" class="btn-arrow-left">
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </div>
                </div>-->

                <div class="payment-detail-product-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <!--<div class="name-title"></div>-->
                            <div class="label-wrapper">
                                <div class="label-cont">
                                    <span>Termék neve:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Fizetés esedékessége:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont final-price-cont">
                                    <span>Végösszeg:</span>
                                    <span class="final-price">10000Ft</span>
                                </div>

                                <div class="payNextCont">
                                    <a href="" class="btn-arrow-left">
                                    <span class="btn-content">
                                        <span>Tovább a fizetéshez</span>
                                        <i class="fa fa-arrow-right"></i>
                                    </span>
                                    </a>
                                </div>
                                <div class="footer-logo-content ">
                                    <img class="payment-logo logo-simple" src="/assets/logo/simplepay-logo_r.jpg" alt="">
                                    <img class="payment-logo logo-master" src="/assets/logo/mastercard-logo_r.jpg" alt="">
                                    <img class="payment-logo logo-maestero" src="/assets/logo/maestero-logo_r.jpg" alt="">
                                    <img class="payment-logo logo-visa" src="/assets/logo/visa-logo_r.jpg" alt="">
                                    <img class="payment-logo logo-visaelectron" src="/assets/logo/visa-electron_r.jpg"
                                         alt="">
                                    <img class="payment-logo logo-american" src="/assets/logo/american-exress-logo_r.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="payment-detail-invoice-content-title">Számla információ:</div>-->


                <div class="payment-detail-invoice-content-szamla">
                    <div class="invoice-information-content">

                        <div class="name-title">Számla információ</div>
                        <div class="label-wrapper">
                            <div class="label-text">Fizetési mód:</div>
                            <div class="label-cont">label</div>
                        </div>
                        <div class="label-wrapper">
                            <div class="label-text">Fizetési dátuma:</div>
                            <div class="label-cont">label</div>
                        </div>
                        <div class="label-wrapper">
                            <div class="label-text">Kiálltás dátuma:</div>
                            <div class="label-cont">label</div>
                        </div>
                        <div class="label-wrapper">
                            <div class="label-text">Teljesítés határideje:</div>
                            <div class="label-cont">label</div>
                        </div>
                        <div class="label-wrapper">
                            <div class="label-text">Számla száma:</div>
                            <div class="label-cont">label</div>
                        </div>

                        <div class="label-wrapper">
                            <div class="btn-content">
                                <a href="" class="btn-pay-download">
                                    <i class="fa fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="payment-invoice-detail">
                    <i class="detail-invoice-icon glyphicon glyphicon-chevron-right" onclick="openinvoiceDetail()"></i>
                    <span class="payment-invoice-detail-text" onclick="openinvoiceDetail()">Részletek</span>
                </div>

                <script type="text/javascript">
                    var openinvoiceDetail = function () {
                        var arrow = $('.detail-invoice-icon');
                        var invoiceDetail = $('.payment-detail-invoice-content');
                        if (arrow.hasClass('open')) {

                            arrow.removeClass('open');
                            invoiceDetail.removeClass('open');
                        } else {
                            arrow.addClass('open');
                            invoiceDetail.addClass('open');
                        }
                    }
                </script>


                <div class="payment-detail-invoice-content">
                    <div class="payment-detail-invoice">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="name-title">Eladó adatai</div>
                                <div class="label-cont">
                                    <span>Név:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Cím:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Adószám:</span>
                                    <span>Label</span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="name-title second">Vevő adatai</div>
                                <div class="label-cont">
                                    <span>Név:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Cím:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Típus:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Adószám:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>E-mail:</span>
                                    <span>Label</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="payment-detail-button-content">
                         <div class="btn-content">
                             <a href="" class="btn-arrow-left">
                                 <i class="fa fa-arrow-left"></i>
                             </a>
                         </div>
                         <div class="btn-content">
                             <a href="" class="btn-pay-download">
                                 <i class="fa fa-download"></i>
                             </a>
                         </div>
                         <div class="btn-content">
                             <a href="" class="btn-pay">Fizetés</a>
                         </div>
                         <div class="btn-content float-right">
                             <a href="" class="btn-arrow-left">
                                 <i class="fa fa-arrow-right"></i>
                             </a>
                         </div>
                     </div>-->
                    <div class="product-information-content">
                        <div class="name-title">Termék (szolgáltatás) információk</div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="label-cont">
                                    <span>Termékazonosító:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Termék megnevezése:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Termék típusa:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Termék kódja:</span>
                                    <span>Label</span>
                                </div>

                                <div class="label-cont">
                                    <span>Termék példány sorszáma:</span>
                                    <span>Label</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="label-cont">
                                    <span>Nettó egységár:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Áfa:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Mennyiség:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Nettó ár összesen:</span>
                                    <span>Label</span>
                                </div>
                                <div class="label-cont">
                                    <span>Bruttó ár összesen:</span>
                                    <span>Label</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="payment-trans-detail">
                    <i class="detail-trans-icon glyphicon glyphicon-chevron-right" onclick="openinvoiceTrans()"></i>
                    <span class="payment-invoice-detail-text" onclick="openinvoiceTrans()">Tranzakciók</span>
                </div>

                <script type="text/javascript">

                    var openinvoiceTrans = function () {
                        var arrow = $('.detail-trans-icon');
                        var invoiceDetail = $('.product-trans-content');
                        if (arrow.hasClass('open')) {

                            arrow.removeClass('open');
                            invoiceDetail.removeClass('open');
                        } else {
                            arrow.addClass('open');
                            invoiceDetail.addClass('open');
                        }
                    }
                </script>

                <div class="product-trans-content">
                    <div class="product-trans">
                        <div class="name-title">Tranzakciók</div>
                        <div class="trans-status-cont">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="label-cont">
                                        <span>Azonosító:</span>
                                        <span>ed243cea-12c3-4c6d-90ef-8c3e225e6266</span>
                                    </div>
                                    <div class="label-cont">
                                        <span>Állapot:</span>
                                        <span>Complete</span>
                                    </div>
                                    <div class="label-cont">
                                        <span>Nettó egységár:</span>
                                        <span>Label</span>
                                    </div>
                                    <div class="label-cont">
                                        <span>Áfa:</span>
                                        <span>Label</span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="label-cont">
                                        <span>Külső azonosító:</span>
                                        <span>99084698</span>
                                    </div>
                                    <div class="label-cont">
                                        <span>Létrehozás ideje:</span>
                                        <span>2017. szept 19. 17:49</span>
                                    </div>
                                    <div class="label-cont">
                                        <span>Utolsó módosítás ideje:</span>
                                        <span> 2017. szept 19. 17:49</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>