<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <!-- Metadata -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <!-- Apple -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/assets/images/touch-icon.png">
  <!-- Android -->
  <!--<link rel="manifest" href="/manifest.json">-->
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Polyfill -->
  <!--<script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.2.4/webcomponents-bundle.js"></script>-->
</head>
<body>
  <!--<app-root></app-root>-->
</body>
</html>
<!--<templates-element name="Gabesz from attribut"></templates-element>-->
