html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, Ubuntu, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;

  .chartContent {
    display: flex;
    align-items: center;

    .chartValueContent {
      .dataCurrent {
        font-size: 28px;
      }

      .dataMeasure {
        font-size: 16px;
        color: #767676;
      }
    }

    .chartSVGContent {
      margin-left: 20px;
      flex-grow: 1;

      #stackedBulletChartSVG {
        .label-measure {
          fill: #767676;
        }
      }
    }
  }

  .dateWrapper {
    width: 400px;
    font-family: Roboto, Helvetica, sans-serif;

    .weekContent {
      display: flex;
      width: 100%;
      background-color: #f5f5f5;

      .weekItem {
        display: flex;
        padding: 10px 0;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        color: #7b7b7b;
        text-transform: uppercase;
        letter-spacing: .4px;
        line-height: 11px;
        flex-basis: 44px;
      }
    }

    .dateContent {
      max-height: 200px;
      overflow: auto;
      background-color: wheat;

      .dateItemRow {
        display: flex;

        .dateItem {
          display: flex;
          color: #7b7b7b;
          cursor: pointer;
          height: 40px;
          padding: 10px 0;
          flex-grow: 1;
          font-size: 14px;
          justify-content: center;
          align-items: center;
          flex-basis: 44px;
          text-transform: uppercase;
          letter-spacing: .4px;
          background-color: transparent;
          .valueContent{
            text-align: center;
            line-height: 16px;
            .dateVal{}
            .monthVal{
              font-size: 12px;
              color: darkred;
              font-weight: bold;
            }
          }
          .itemHover {
            background-color: rgba(255, 255, 255, 1);
            &:hover {
              background-color: rgba(255, 255, 255, 0.4);
            }
          }

          .itemBg {
          }

        }
      }
    }
  }
}
