.descriptionComponent {
    .descriptionWrapper {
        position: relative;
        .descriptionIcon {
            font-size: 16px;
            position: absolute;
            cursor: pointer;
            color: #0497bb;
            top: -1px;
            transform: rotate(0);
            transition: all 0.2s ease-out;
            &.open {
                transform: rotate(90deg);
            }
        }

        .descriptionTextValue {
            font-size: 12px;
            padding-left: 18px;
            //padding-top: 2px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &.open {
                text-overflow: inherit;
                white-space: normal;
                overflow: inherit;
            }
            &.feed {
                opacity: 0.3;
            }
        }

        .descriptionTextLabel {
            cursor: pointer;
            color: #0497bb;
            vertical-align: middle;
            padding-left: 20px;
            //padding-top: 10px;
        }
        .descriptionTechnicalIcon {
            color: #0497bb;
            position: relative;
            padding-left: 30px;
            i {
                cursor: pointer;
            }
            .desktop {
                position: absolute;
                font-size: 20px;
                right: 0;
                top: 0;
            }
            .mobile {
                right: -20px;
                position: absolute;
                font-size: 28px;
                top: -5px;
            }
        }
        .descriptionHideTextValue {
            font-size: 13px;
            padding-top: 20px;
            display: none;
            &.open {
                display: block;
            }
            .descriptionTableContent {
                padding: 10px 0;
                .descriptionTableEmpty {
                    border: 1px solid #dedede;
                    text-align: center;
                    padding: 10px 0;
                    background: #f4f4f4;
                }
            }
            .descriptionTechnicalTableContent {
                border: 1px solid #dedede;
                background: #f4f4f4;
                .technicalTitle {
                    color: #0497bb;
                    font-weight: 500;
                    background-color: #e8e8e8;
                    padding: 5px 0 5px 5px;
                }
                .technicalContent {
                    font-size: 13px;
                    padding: 5px 0 5px 5px;
                    .itemLabel {
                        padding-bottom: 5px;
                        &.adress {
                            color: #0497bb;
                        }
                        .itemLabelText {
                            font-weight: 600;

                        }
                        .itemLabelValue {
                            padding-left: 5px;
                            font-size: 12px;
                        }

                    }
                }
            }
            $titleWidth:50%;
            $progressWidth:20%;
            $resultWidth:20%;
            $timeWidth:10%;
            .resultDetailContent {
                margin: 10px 0;
                border: 1px solid #dedede;
                .resultDetailTitleContent {
                    background: #e8e8e8;
                    padding: 5px 0 5px 5px;
                    color: #0497bb;
                    font-size: 0;
                    .cont {
                        font-size: 12px;
                        font-weight: 600;
                        display: inline-block;
                    }
                    .titleCont {
                        width: $titleWidth;
                        //background-color: red;
                    }
                    .progressCont {
                        width: $progressWidth;
                        //background-color: green;
                    }
                    .resultCont {
                        width: $resultWidth;
                        //background-color: bisque;
                    }
                    .timeCont {
                        text-align: center;
                        width: $timeWidth;
                        //background-color: blue;
                    }
                }

                .resultDetailValueContent {
                    .resultDetailValue {
                        font-size: 0;
                        background-color: #f4f4f4;
                        border-bottom: 1px solid #e6e6e6;
                        .cont {
                            padding: 6px 0 3px 3px;
                            font-size: 12px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .titleCont {
                            width: $titleWidth;
                            padding-right: 10px;
                            &.title {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }

                        .progressCont {
                            width: $progressWidth;
                            position: relative;
                            padding-right: 10px;
                        }
                        .resultCont {
                            width: $resultWidth;
                        }
                        .timeCont {
                            text-align: center;
                            width: $timeWidth;
                        }

                        .progressContent{
                            width: 100%;
                            height: 100%;
                            font-size: 0;
                            .progressLineCont{
                                width: 70%;
                                height: 10px;
                                display: inline-block;
                                vertical-align: middle;
                                border: 1px solid #999;
                                border-radius: 2px;
                                .progressLine{
                                    width: 50%;
                                    height: 100%;
                                    background-color: #0497bb;
                                }
                            }
                            .progressValue{
                                width: 30%;
                                font-size: 12px;
                                text-align: center;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}

