<div class="descriptionComponent">
    <div class="descriptionWrapper" *ngIf="className==='course-list'">
        <i class="descriptionIcon glyphicon glyphicon-chevron-right"
           [ngClass]="{'open':isOpen}"
           (click)="textToggle()">
        </i>
        <div class="descriptionTextValue" [ngClass]="{'open':isOpen}">{{description}}</div>
    </div>

    <div class="descriptionWrapper" *ngIf="className === 'course-detail-description'">
        <i class="descriptionIcon glyphicon glyphicon-chevron-right"
           [ngClass]="{'open':isOpen}"
           (click)="textToggle()"
        >
        </i>
        <span class="descriptionTextLabel" (click)="textToggle()">{{'btn_details' | translate}}</span>
        <div class="descriptionHideTextValue" [ngClass]="{'open':isOpen}">
            {{description}}
            <div class="descriptionTableContent">
                <div class="descriptionTableEmpty">
                    {{'msg_no_course_results_to_display' | translate}}

                </div>
            </div>
        </div>
    </div>

    <div class="descriptionWrapper" *ngIf="className === 'course-detail-serviceTechnicalProfile'">
        <i class="descriptionIcon glyphicon glyphicon-chevron-right" [ngClass]="{'open':isOpen}" (click)="textToggle()"></i>
        <span class="descriptionTextLabel" (click)="textToggle()">{{'lbl_technical_requirements' | translate}}</span>
        <span class="descriptionTechnicalIcon">
            <i *ngFor="let item of description.profile" class="fa" [ngClass]="['fa-'+item.name, item.name]" (click)="textToggle()" aria-hidden="true"></i>
        </span>
        <div class="descriptionHideTextValue" [ngClass]="{'open':isOpen}">
            <div class="descriptionTechnicalTableContent">
                <div class="technicalTitle">
                    {{'lbl_supported_devices' | translate}}
                </div>
                <div class="technicalContent">
                    <div class="row">
                        <div class="col-sm-6" *ngFor="let item of description.profile">
                            <div class="itemLabel adress">{{item.name}}</div>
                            <div class="itemLabel">
                                <div class="itemLabelText">
                                    {{'lbl_technical_hardware' | translate}}
                                </div>
                                <div class="itemLabelValue">
                                    {{item.hardware}}
                                </div>
                            </div>
                            <div class="itemLabel">
                                <div class="itemLabelText">{{'lbl_technical_display' | translate}}</div>
                                <div class="itemLabelValue">
                                    {{item.display}}
                                </div>
                            </div>
                            <div class="itemLabel">
                                <div class="itemLabelText">{{'lbl_technical_browser' | translate}}</div>
                                <div class="itemLabelValue" *ngFor="let browser of item.browser">
                                    {{browser}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
