<div class="courseDetailListItemContainer" *ngFor="let item of currentItemData">
    <div class="row">
        <div class="col-sm-2 hidden-xs">
            <div class="courseItemImgBlock">
                <div class="imgContent">
                    <img src="{{item.imageUrl}}" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="courseItemListContent">
                <div class="courseItemTextBlockContent">
                    <div class="courseItemTextBlock">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="courseTitleContent">
                                    <!-- Title -->
                                    <div class="courseTitle">{{item.title}}</div>
                                    <!-- Label -->
                                    <div *ngIf="item.label.length || item.providerName.length"
                                         class="courseLabelContent">
                                        <span *ngIf="item.label.length" class="courseLabel">{{item.label}}</span>
                                        <span *ngIf="item.label.length && item.providerName.length">-</span>
                                        <span *ngIf="item.providerName.length" class="courseProviderName">{{item.providerName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="courseItemButtonBlock">
                                    <div class="buttonContent">
                                        <!-- Status
                                        <ulms-button
                                            [isPointer]=false
                                            [btnLabel]="'lbl_course_status_' + item.status.value | translate"
                                            [btnIconClassName]=item.status.icon
                                        >
                                        </ulms-button>
                                        -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="courseResultWrapper">
                        <div class="courseResultList courseDetailMainInfo">
                            <div class="statusTextConent">
                                <!--Kurzus kezdete-->
                                <ulms-status-text
                                    [labelText]="'lbl_result_start_date_course' | translate"
                                    [value]=item.resultStartDate
                                >
                                </ulms-status-text>
                            </div>
                            <div class="statusTextConent">
                                <!--Kurzus vége-->
                                <ulms-status-text
                                    [labelText]="'lbl_result_end_date_course' | translate"
                                    [value]=item.resultEndDate
                                >
                                </ulms-status-text>
                            </div>
                            <div class="statusTextConent">
                                <!-- Beirato szervezet
                                <ulms-status-text
                                    [labelText]="'lbl_registration_organization' | translate"
                                    [value]=item.registrarOrganization
                                >
                                </ulms-status-text>
                                -->
                            </div>
                        </div>

                        <div class="courseResultList courseDetailMainInfo">
                            <div class="statusTextConent">
                                <!--Idő keret -->
                                <ulms-status-text
                                    [className]="'upcoming'"
                                    [labelText]="'lbl_net_time_limit' | translate"
                                    [value]="item.netTimeLimit | toLocalTimeSpan:{id:'upcoming'}"
                                >
                                </ulms-status-text>
                            </div>
                            <div class="statusTextConent">
                                <!--Várható tanulási idő -->
                                <ulms-status-text
                                    [className]="'upcoming'"
                                    [labelText]="'lbl_suggested_time' | translate"
                                    [value]="item.suggestedTime | toLocalTimeSpan:{id:'upcoming'}"
                                >
                                </ulms-status-text>
                            </div>
                        </div>

                        <div class="courseResultList">
                            <div class="statusTextConent">
                                <!--Beiratkozás dátuma vagy Első bejelentkezés
                                 <ulms-status-text
                                    [className]=""
                                    [labelText]="'lbl_enrollment_date' | translate"
                                    [value]=item.registrationDate
                                >
                                </ulms-status-text>
                                -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
