.page-wrapper {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;

  .chartContent {
    display: flex;
    align-items: center;

    .chartValueContent {
      font-size: 15px;
      .dataCurrent {
        font-size: 30px;
      }
      .dataTotal {}
    }

    .chartSVGContent {
      margin-left: 20px;
      flex-grow: 1;

      #stackedBulletChartSVG {
        .label-group {
          .label-value {}
          .label-flag {
            fill: #767676;
            //font-size: 14px;
          }
        }

      }
    }
  }
}

/*.rect{
  cursor: pointer;
}
.rect-0 {
  &:hover {
    fill: beige;
  }
}
.rect-1 {
  &:hover {
    fill: beige;
  }
}*/
