<!-- Recommended Course Template -->
<div class="courseListItemContainer recommended" [@slideInOutKeyFrame] *ngFor="let item of currentItemListaData">
    <div class="row">
        <div class="courseItemImgBlock col-sm-2 hidden-xs">
            <div class="imgContent">
                <img src="{{item.imageUrl}}" (click)="navigationUrl(item.id)" alt="">
            </div>
        </div>
        <div class="courseItemTextBlock col-sm-7">
            <div class="courseItemTextBlockContent">
                <div class="courseTitleContent">
                    <!-- Title -->
                    <span class="courseTitle"
                          placement="bottom"
                          title="{{item.title}}"
                          (click)="navigationUrl(item.id)">
                        {{item.title}}
                    </span>
                    <!-- Label -->
                    <div class="courseLabelContent" *ngIf="item.label.length || item.providerName.length">
                    <span *ngIf="item.label.length" class="courseLabel" placement="bottom"
                          title="'Kurzus kód: '{{item.label}}" container="body"
                    >{{item.label}} </span>
                        <span *ngIf="item.label.length && item.providerName.length">-</span>
                        <span *ngIf="item.providerName.length" class="courseProviderName"
                              placement="bottom"
                              title="'Kurzus szolgáltatója: '{{item.providerName}}">
                        {{item.providerName}}
                    </span>
                    </div>
                </div>
                <div class="courseItemImgBlock">
                    <div class="imgContent">
                        <img src="{{item.imageUrl}}" alt="">
                    </div>
                </div>
                <div class="courseResultWrapper">
                    <div class="courseResultList recommended">
                        <div class="statusTextConent">
                            <!--Meghívó szervezet-->
                            <ulms-status-text
                                [labelText]="'lbl_inviter_organization' | translate"
                                [value]=item.organization
                                [toolTipTextData]=item.organization
                            >
                            </ulms-status-text>
                        </div>
                        <div class="statusTextConent">
                            <!--Kurzus kezdete-->
                            <ulms-status-text
                                [labelText]="'lbl_result_start_date_course' | translate"
                                [value]=item.resultStartDate

                            >
                            </ulms-status-text>
                        </div>
                        <div class="statusTextConent">
                            <!--Kurzus vége-->
                            <ulms-status-text
                                [labelText]="'lbl_result_end_date_course' | translate"
                                [value]=item.resultEndDate
                            >
                            </ulms-status-text>
                        </div>
                    </div>
                    <div class="courseResultList recommended">
                        <div class="statusTextConent">
                            <!--Időkeret -->
                            <ulms-status-text
                                [className]="'recommended'"
                                [labelText]="'lbl_net_time_limit' | translate"
                                [value]="item.netTimeLimit | toLocalTimeSpan:{id:'recommended'}"
                            >
                            </ulms-status-text>
                        </div>
                        <div class="statusTextConent">
                            <!--Várható tanulási idő -->
                            <ulms-status-text
                                [className]="'recommended'"
                                [labelText]="'lbl_suggested_time' | translate"
                                [value]="item.suggestedTime | toLocalTimeSpan:{id:'recommended'}"
                            >
                            </ulms-status-text>
                        </div>
                        <div class="statusTextConent">
                            <!--Beiratkozás határideje-->
                            <ulms-status-text
                                [className]="'recommended'"
                                [labelText]="'lbl_enrollment_deadline' | translate"
                                [value]=item.expirationTime
                            >
                            </ulms-status-text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="courseItemButtonBlock col-sm-3">
            <div class="buttonContent">
                <!-- Status -->
                <ulms-button
                    [isPointer]=false
                    [btnLabel]="'lbl_severity_' + item.status.value | translate"
                    [btnIconClassName]=item.status.icon
                >
                </ulms-button>
            </div>
            <div class="dropDownContent">
                <ulms-dropdown-split
                    [groupName]="'recommended'"
                    [labelText]="'btn_enrollment' | translate"
                    [itemData]=item.links
                    (onButtonFn)="navigationUrl(item.id)"
                    (dropDownClick)="dropDownClick($event)"
                ></ulms-dropdown-split>
            </div>
        </div>
        <div *ngIf="item.description" class="descriptionContent col-sm-12">
            <ulms-description
                [description]=item.description
                [className]="'course-list'">
            </ulms-description>
        </div>
    </div>
</div>
