.videoCallComponent {
  //display: flex;
  text-align: center;
  margin: 10px;

  .wrapper {
    .btn-content {
    }
    .video-content {
      padding-top: 10px;
      //margin: 10px;
      video {
        margin-right: 15px;
        width: 320px;
        height: 240px;
        background-color: gray;
      }
    }
  }
}
