<div class="dropdownSplitComponent">
    <!-- navTabLinks -->
    <div class="btn-group" *ngIf="groupName === 'navTabLinks'">
        <a class="btn btn-left navTabLinks"
           [href]="tabLaunch.href"
           [target]="tabLaunch.target">
            {{tabLaunch.dropDownItemLabel | translate }}
        </a>
        <button type="button" class="btn btn-right navTabLinks" [disabled]=!tabDropDown.length (click)="openDropDown()">
            <span class="caret"></span>
        </button>
        <div class="dropdownMenuContent" *ngIf="tabDropDown.length">
            <ul class="dropdownMenu" [ngClass]="{'open':isOpen}">
                <div class="dropdown-item">
                    <div *ngFor="let item of tabDropDown">
                        <li role="menuitem" *ngIf="item.rel !=='ContractReject' && item.rel !=='ProfileUpgrade'">
                            <a [href]="item.href"
                               [target]="item.target">
                                {{item.dropDownItemLabel | translate}}
                            </a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <!-- Active & Closed -->
    <div class="btn-group" *ngIf="groupName === 'active' || groupName === 'closed'">
        <button (click)="btnClick()" class="btn btn-left">{{labelText}}</button>
        <button type="button" class="btn btn-right" [disabled]=!itemData.length (click)="openDropDown()">
            <span class="caret"></span>
        </button>
        <div class="dropdownMenuContent" *ngIf="itemData.length">
            <ul class="dropdownMenu" [ngClass]="{'open':isOpen}">
                <div class="dropdown-item">
                    <div *ngFor="let item of itemData">
                        <li role="menuitem" *ngIf="item.rel !=='ContractReject' && item.rel !=='ProfileUpgrade'">
                            <a
                                [href]="item.href"
                                [target]="item.target">
                                {{item.dropDownItemLabel | translate}}
                            </a>
                        </li>
                    </div>

                </div>
            </ul>
        </div>
    </div>

    <!-- Recommended && User invitation sample -->
    <div class="btn-group" *ngIf="groupName === 'recommended' || groupName === 'recommendedDetial'">

        <a [href]="itemData[0].href" [target]="itemData[0].target" class="btn btn-left" *ngIf="itemData.length > 0">{{labelText}}</a>

        <button (click)="btnClick()" class="btn btn-left" *ngIf="itemData.length === 0">{{labelText}}</button>

        <button type="button" class="btn btn-right" [disabled]=!itemData.length (click)="openDropDown()">
            <span class="caret"></span>
        </button>
        <div class="dropdownMenuContent" *ngIf="isShow && itemData.length">
            <ul class="dropdownMenu" [ngClass]="{'open':isOpen}">
                <div class="dropdown-item">
                    <li role="menuitem" (click)="btnClick()" *ngIf="groupName !== 'recommendedDetial'">
                        {{'btn_information' | translate}}
                    </li>
                    <div *ngIf="itemData">
                        <div *ngFor="let item of itemData">
                            <li *ngIf="item.rel === 'Reject'"
                                role="menuitem"
                                (click)="dropDownClickFn(item)">
                                {{item.label}}
                            </li>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <!-- Optional -->
    <div class="btn-group" *ngIf="groupName === 'optional'">
        <!--TODO: BUTTON CLICK AND POST -->
        <button (click)="btnClick()" class="btn btn-left">{{labelText}}</button>
        <button type="button" class="btn btn-right" [disabled]=!itemData.length (click)="openDropDown()">
            <span class="caret"></span>
        </button>
        <div class="dropdownMenuContent" *ngIf="isShow && itemData.length">
            <ul class="dropdownMenu" [ngClass]="{'open':isOpen}">
                <div class="dropdown-item">
                    <li role="menuitem" (click)="btnClick()">
                        {{'btn_information' | translate}}
                    </li>
                    <div *ngIf="itemData">
                        <a [href]="" [target]="">
                            <li role="menuitem" *ngFor="let item of itemData">
                                {{item.label}}
                            </li>
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <!-- Upcoming -->
    <div class="btn-group" *ngIf="groupName === 'upcoming'">
        <button (click)="btnClick()" class="btn btn-left">{{labelText}}</button>
        <button type="button" class="btn btn-right" [disabled]=true (click)="openDropDown()">
            <span class="caret"></span>
        </button>
        <!--<div class="dropdownMenuContent"></div>-->
    </div>
</div>
