<div class="dropdownSplitComponent">

    <!-- Active & Closed -->
    <div class="btn-group" *ngIf="groupName === 'active' || groupName === 'closed'">
        <button (click)="btnClick()" class="btn btn-left">{{labelText}}</button>
        <button type="button" class="btn btn-right" [disabled]=!itemData.length (click)="openDropDown()">
            <span class="caret"></span>
        </button>
        <div class="dropdownMenuContent" *ngIf="itemData.length">
            <ul class="dropdownMenu" [ngClass]="{'open':isOpen}">
                <div class="dropdown-item">
                    <li role="menuitem" *ngFor="let item of itemData">
                        <a [href]="item.href"
                           [target]="item.target">
                            {{item.dropDownItemLabel | translate}}
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <!-- Recommended && RecommendedDetial-->
    <div class="btn-group" *ngIf="groupName === 'recommended' || groupName === 'recommendedDetial'">
        <button (click)="btnClick()" class="btn btn-left">{{labelText}}</button>
        <button type="button" class="btn btn-right" [disabled]=!itemData.length (click)="openDropDown()">
            <span class="caret"></span>
        </button>
        <div class="dropdownMenuContent" *ngIf="isShow && itemData.length">
            <ul class="dropdownMenu" [ngClass]="{'open':isOpen}">
                <div class="dropdown-item">
                    <li role="menuitem" (click)="btnClick()" *ngIf="groupName !== 'recommendedDetial'">
                        {{'btn_information' | translate}}
                    </li>
                    <div *ngIf="itemData">
                        <div *ngFor="let item of itemData">
                            <a [href]="item.href"
                               [target]="item.target">
                                <li role="menuitem" *ngIf="item.rel === 'Reject'">
                                    {{item.label}}
                                </li>
                            </a>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <!-- Optional -->
    <div class="btn-group" *ngIf="groupName === 'optional'">
        <!--TODO: BUTTON CLICK AND POST -->
        <button (click)="btnClick()" class="btn btn-left">{{labelText}}</button>
        <button type="button" class="btn btn-right" [disabled]=!itemData.length (click)="openDropDown()">
            <span class="caret"></span>
        </button>
        <div class="dropdownMenuContent" *ngIf="isShow && itemData.length">
            <ul class="dropdownMenu" [ngClass]="{'open':isOpen}">
                <div class="dropdown-item">
                    <li role="menuitem" (click)="btnClick()">
                        {{'btn_information' | translate}}
                    </li>
                    <div *ngIf="itemData">
                        <a [href]="" [target]="">
                            <li role="menuitem" *ngFor="let item of itemData">
                                {{item.label}}
                            </li>
                        </a>
                    </div>
                </div>
            </ul>
        </div>
    </div>

    <!-- Upcoming -->
    <div class="btn-group" *ngIf="groupName === 'upcoming'">
        <button (click)="btnClick()" class="btn btn-left">{{labelText}}</button>
        <button type="button" class="btn btn-right" [disabled]=true (click)="openDropDown()">
            <span class="caret"></span>
        </button>
        <!--<div class="dropdownMenuContent"></div>-->
    </div>
</div>
