@import '../../../../variables.scss';

$paddings: 12px 8px;
.headerComponens {

    .nx-header-menu__item {
        .menu_item_bt {
            position: relative;
            padding: $paddings;

            .icon-nx-payment {
                width: 25px;
            }
            .icon-nx-admin {
            }
            .icon-nx-feeds {
                background: $data_uri_13;
                height: 20px;
            }
            .icon-nx-courses {
                margin-right: 0;
            }

            .countValueContent{
                position: absolute;
                font-size: 11px;
                border-radius: 2px;
                font-weight: bold;
                left: -2px;
                bottom: 1px;
                .countValue{
                    color: white;
                    padding: 1px 3px;
                    background-color: #E9451F;
                }
            }
        }
    }
    .nx-dropdown {
        .dropdown-toggle {
            padding: $paddings;
            padding-left: 0;
            cursor: pointer;
            &.hideMenu {
                background-color: transparent !important;
                &:active {
                    background-color: transparent !important;
                }

                &:visited {
                    background-color: transparent !important;
                }
                &:hover {
                    background-color: transparent !important;;
                }
            }

            .nx-header-menu__item-label {
                display: inline-block;
                vertical-align: middle;
            }
        }
        .nx-dropdown-menu {
            min-width: inherit;
            width: 100%;
            li {
                a {
                    padding: 5px 10px;
                }
            }
        }
    }
    .languageDropDown{
        .dropdown-toggle {
            color: #0497bb;
            &:hover{
                background-color: #e5f4f7 !important;
            }
            .nx-header-menu__item-label {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    .ltiBackBtn{
        margin-right: 15px;
        .menu_item_bt{
            margin: 0 10px;
            padding: 12px 12px !important;
            background: #f3eee4;
            &:hover{
                border-bottom: solid 1px #0497bb;
                background-color: #e5f4f7 !important;
                color: #0497bb !important;
            }
        }
    }


    @media(max-width: $md-min-width) {
        .nx-header-menu__item {
            .menu_item_bt {
                padding: 12px 4px;
            }
        }
        .nx-dropdown {
            .dropdown-toggle {
                padding: 12px 2px;
                .nx-header-menu__item-label {
                    max-width: 80px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

                }
            }
        }
    }
    @media(max-width: $sm-min-width) {
        .nx-header-menu__item {
            .menu_item_bt {
                padding: $paddings;
            }
        }
        .nx-dropdown {
            .dropdown-toggle {
                padding: $paddings;
                .nx-header-menu__item-label {
                    max-width: inherit;
                    text-overflow: ellipsis;
                    overflow: auto;
                    white-space: normal;

                }
            }
        }

    }
}
