@import '../../../variables.scss';

$itemPadding: 20px;
.courseDetailListItemContainer {
    position: relative;
    padding: $itemPadding 0;
    border-bottom: 3px solid #dedede;
    &.courseDetailListItem {
        padding-top: $itemPadding;
        padding-bottom: 0;
        border-bottom: 0;
    }
    .courseItemImgBlock {
        text-align: center;
        .imgContent {
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .courseItemListContent {
        margin-left: -30px;
        .courseItemTextBlockContent {
            .courseItemTextBlock {
                .courseTitleContent {
                    .courseTitle {
                        font-size: 16px;
                        color: #0497bb;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    .courseLabelContent {
                        padding-top: 5px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        .courseLabel {
                            color: #0497bb;
                        }
                        .courseProviderName {
                            font-weight: 500;
                        }
                    }
                }
                @media(max-width: $md-min-width) {
                    .courseTitleContent {
                        padding-bottom: 10px;

                    }
                }
                @media(max-width: $sm-min-width) {
                    .courseTitleContent {
                        padding-bottom: 15px;
                    }
                }

                .courseItemButtonBlock {
                    .buttonContent {
                    }
                    @media(max-width: $sm-min-width) {
                        .buttonContent {
                        }
                    }
                }
            }

            .courseResultWrapper {
                display: inline-block;
                padding-top: $itemPadding;
                .courseResultList {
                    display: inline-block;
                    vertical-align: top;
                    &:nth-child(1) {
                        padding-right: 30px;
                        .statusTextConent {
                            padding-bottom: 5px;
                            &:nth-child(2) {
                                //padding-bottom: 8px;
                            }
                            &:nth-child(3) {
                                //padding-bottom: 0;
                            }
                        }
                    }
                    &:nth-child(2) {
                        padding-right: 30px;
                        .statusTextConent {
                            padding-top: 2px;
                            padding-bottom: 8px;

                        }

                        &.courseDetailMainInfo {
                            .statusTextConent {
                                padding-top: 0;
                                padding-bottom: 5px;

                            }
                        }
                    }
                    &:nth-child(3) {
                        .statusTextConent {
                            padding-top: 2px;
                            padding-bottom: 8px;
                        }
                    }
                }
            }
        }

        .courseButtonWrapper {
            position: absolute;
            width: 100%;
            transform: translateY($itemPadding + 5);
            -webkit-transform: translateY($itemPadding + 5);
        }
        .courseDescriptionContent {
            //position: relative;
            margin-top: 20px;
            .courseDescriptionBlock {
                &:nth-child(1) {}
                &:nth-child(2) {
                    margin-top: 5px;
                }

                &.lunchBtnActive {
                    &:nth-child(1) {}
                    &:nth-child(2) {}
                }

            }
        }
        .courseDetailListBorderWrapper {
            padding-top: $itemPadding;
            border-bottom: 3px solid #dedede;

        }
        @media(max-width: $sm-min-width) {
            .courseButtonWrapper {
                position: static;
                transform: none;
                left: inherit;
            }
        }

    }
    @media(max-width: $md-min-width) {
        .courseItemListContent {
            margin-left: 0;
        }
    }

}

.paddingReset {
    @include padding-reset;
}

.paddingLeftReset {
    @include padding-left-reset;
}

.messageBoxContent {
    padding: 10px 20px;
    border: 2px solid #fdba3d;
    background: #fee8b1;
    //margin: 10px;

}
