@import '../../../variables.scss';

.courseListItemContainer {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    border: 3px solid #dedede;
    border-radius: 2px;
    &.courseDetailMainInfo {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        margin-bottom: 0;
        padding: 20px 0;
    }
    &.userInvitation {
        padding-top: 15px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        margin-bottom: 0;
    }
    .courseItemImgBlock {
        text-align: center;
        .imgContent {
            cursor: pointer;
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .courseItemTextBlock {
        .courseItemTextBlockContent {
            margin-left: -35px;
            &.userInvitation {
                position: relative;
                margin-left: -40px;
                .userInvitationIcon {
                    position: absolute;
                    font-size: 18px;
                    left: -25px;
                    top: 2px;
                    color: #0497bb;
                }
            }
            .courseTitleContent {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                .courseTitle {
                    cursor: pointer;
                    font-size: 16px;
                    color: #0497bb;
                    margin-bottom: 5px;

                }
                .courseLabelContent {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    .courseLabel {
                        color: #0497bb;
                    }
                    .courseProviderName {
                        font-weight: 500;
                    }
                }

            }

            @media(max-width: $md-min-width) {
                .courseTitleContent {
                    padding-bottom: 10px;

                }
            }
            @media(max-width: $sm-min-width) {
                .courseTitleContent {
                    padding-bottom: 15px;
                }
            }

            .courseItemImgBlock {
                display: none !important;
            }
            @media(max-width: $sm-min-width) {
                .courseItemImgBlock {
                    display: inline-block !important;
                    vertical-align: top;
                    padding-right: 10px;
                }
            }
            .courseResultWrapper {
                padding-top: 10px;
                &.userInvitation {
                    padding-top: 0;
                }
                .courseResultList {
                    display: inline-block;
                    vertical-align: top;
                    &:nth-child(1) {

                        .statusTextConent {
                            padding: 3px 0;
                        }
                        &.active {
                            padding-right: 30px;
                        }
                        &.recommended {
                            float: left;
                        }

                    }
                    &:nth-child(2) {
                        .statusTextConent {
                            padding: 3px 0;
                        }
                        &.active {
                            .statusTextConent {
                                padding: 5px 0;
                            }
                        }
                        &.recommended {
                            float: right;
                            margin-right: 15px;
                        }
                    }
                }
                @media(max-width: $md-min-width) {
                    .courseResultList {
                        padding-top: 0;
                        &:nth-child(1) {
                            &.active {}
                            &.recommended {
                                float: inherit;
                            }
                        }
                        &:nth-child(2) {
                            &.active {}
                            &.recommended {
                                float: inherit;
                                display: block;
                                margin-right: 0;
                                padding-left: 0;
                            }
                        }
                    }
                }
                @media(max-width: $sm-min-width) {
                    .courseResultList {
                        display: block;
                        &:nth-child(1) {
                            &.active {
                                .statusTextConent {
                                    padding: 0;
                                }
                            }
                            &.recommended {
                                padding-bottom: 0;
                            }
                        }
                        &:nth-child(2) {
                            &.active {
                                .statusTextConent {
                                    padding: 3px 0;
                                }
                            }
                            &.recommended {
                                padding-bottom: 10px;
                            }

                        }
                    }
                }
                @media(max-width: $sm-mobil-ios) {
                    .courseResultList {
                        &:nth-child(1) {
                            &.active {
                                .statusTextConent {
                                    padding: 3px 0;
                                }
                            }

                        }
                        &:nth-child(2) {
                            .statusTextConent {
                                &.active {
                                    //padding: 0;
                                }
                                //padding: 5px 0;
                            }
                        }

                    }
                }
            }

            .courseItemImgBlock {
                display: inline-block;
            }
            @media(max-width: $md-min-width) {
                .courseResultWrapper {
                    padding-top: 0;

                }
            }
            @media(max-width: $sm-min-width) {
                .courseResultWrapper {
                    padding-top: 15px;

                }
            }
            @media(max-width: $sm-mobil-ios) {
                .courseResultWrapper {
                    //padding-top: 10px;
                    display: block !important;

                }
                .courseItemImgBlock {
                    display: block !important;
                    vertical-align: top;
                    padding-right: 10px;

                }
            }
        }
        @media(max-width: $md-min-width) {
            .courseItemTextBlockContent {
                margin-left: 0;
            }
        }
    }
    .courseItemButtonBlock {
        .buttonContent {
            margin-bottom: 35px;
        }
        @media(max-width: $sm-min-width) {
            .buttonContent {
                margin-top: 15px;
                margin-bottom: 15px;
            }

        }
    }
    .descriptionContent {
        padding-top: 15px;
    }
}

.userInvitationPageTitle {
    font-size: 20px;
    color: #0497bb;
    padding-top: 15px
}
