<div>E-mail címek</div>
<form [formGroup]="form" *ngIf="form">
  <div class="input-content" *ngFor="let control of emailList.controls; let i=index; trackBy: trackByFn;">
    <input [formControl]="control" class="input-item" placeholder="e-mail címek" type="text">
    <div class="input-item-handler">
      <div class="input-item-handler-btn"
           *ngIf="i===0"
           (click)="addInput()">
        <i class="fas fa-plus">+</i>
      </div>
      <div class="input-item-handler-btn"
           *ngIf="i!==0"
           (click)="removeInput(i)">
        <i class="fas fa-plus">-</i>
      </div>
    </div>
  </div>
  {{form.valid}}
  <div class=btn-content>
    <button type="button" (click)="onSubmit()" [disabled]="!form.valid">Submit</button>
  </div>
</form>
