<div class="container">
  <h1>Model Drive Form</h1>
  <form #modelDriveForm="ngForm" (submit)="onSubmit(modelDriveForm)">
    <div class="form-group">
      <label for="name">Teljes név</label>
      <input type="text" name="name" style="display:none" value="fake input" />
      <input type="email" name="email" style="display:none" value="fake input" />
      <input type="text"
             class="form-control"
             autocomplete="nope"
             id="name"
             [(ngModel)]="model.name" name="name"
             #name="ngModel"
             required>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email"
             class="form-control"
             autocomplete="nope"
             id="email"
             pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
             [(ngModel)]="model.email" name="email"
             #email="ngModel"
             required>
      <!--TODO: email validation -->
      <!--<div [hidden]="email.valid || email.untouched" class="alert alert-danger">
        Email is required
      </div>-->
    </div>
    <div class="form-group">
      <label for="locale">Válasszon nyelvet</label>
      <select class="form-control"
              id="locale"
              [(ngModel)]="model.locale" name="locale">
        <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
      </select>
    </div>
    <!--   <p>
         <button type="button" class="btn btn-default" (click)="onResetForm()">Reset</button>
       </p>-->
    <p>
      <button type="submit" class="btn btn-success" [disabled]="!modelDriveForm.form.valid">Submit</button>
    </p>
  </form>

 <!-- <div>
    <h3>Name validates:</h3>
    <div><strong>valid:</strong> {{ name.valid}}</div>
    <div><strong>invalid:</strong> {{ name.invalid}}</div>
    <div><strong>dirty:</strong> {{ name.dirty}}</div>
    <div><strong>pristin:</strong> {{ name.pristine}}</div>
    <div><strong>touched:</strong> {{ name.touched}}</div>
    <div><strong>unTouched:</strong> {{ name.untouched}}</div>
  </div>-->

  <div>
    <h3>Email validates:</h3>
    <div><strong>valid:</strong> {{ email.valid}}</div>
    <div><strong>invalid:</strong> {{ email.invalid}}</div>
    <div><strong>dirty:</strong> {{ email.dirty}}</div>
    <div><strong>pristin:</strong> {{ email.pristine}}</div>
    <div><strong>touched:</strong> {{ email.touched}}</div>
    <div><strong>unTouched:</strong> {{ email.untouched}}</div>
  </div>

  <!--<div>
    <h3>Model data log:</h3>
    <p>
      {{diagnostic}}
    </p>
  </div>-->

</div>
