<div class="accordingComponent">
    <accordion>
        <accordion-group #group [panelClass]="'accordingStyle'">
            <div accordion-heading>
                <div class="accordingHeaderText">{{labelText}}</div>
                <i class="pull-left glyphicon accordingIcon"
                   [ngClass]="{
                   'glyphicon-chevron-down': group?.isOpen,
                   'glyphicon-chevron-right': !group?.isOpen
                   }">
                </i>
            </div>
            {{description}}
        </accordion-group>
    </accordion>
</div>
