.accordingComponent {
    padding-top: 15px;
    .panel-group {
        margin-bottom: 0;
        .accordingHeaderText {
            font-size: 14px;
            padding-left: 5px;
            display: inline-block;
        }


    }
}
