/* Add this attribute to the element that needs a tooltip */

$toolTipWidth: 160px;
$toolTipBgColor: rgba(239, 239, 239, 1);
$toolTipBorderColor: rgba(204, 204, 204, 1);
$toolTipPosition: 110%;
$toolTipZIndex: 100;

.tooltip.in {
    opacity: 1 !important;
}
.tooltip-inner {
    border: 1px solid $toolTipBorderColor;
    background-color: $toolTipBgColor;
    color: #464646;
    text-align: left;
    font-size: 11px;
    line-height: 1.2;
    padding: 5px;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.3);
}
.tooltip-arrow {
    border-bottom-color: #464646 !important;
    border-top-color: #464646 !important;
}

[info-data] {
    position: relative;
    z-index: inherit;

}

/* Hide the tooltip content by default */
[info-data]:before,
[info-data]:after {
    visibility: hidden;
    opacity: 0;
}

[info-data]:before {
    content: attr(info-data);
    position: absolute;
    bottom: $toolTipPosition;
    left: 50%;
    margin-bottom: 5px;
    margin-left: - $toolTipWidth / 2;
    border: 1px solid $toolTipBorderColor;
    //width: $toolTipWidth;
    color: #464646;
    //width: 100%;
    min-width: 160px;
    //max-width: 90px;
    border-radius: 3px;
    padding: 5px;
    background-color: $toolTipBgColor;
    text-align: left;
    font-size: 11px;
    line-height: 1.2;
    //font-weight: 500;
}

[info-data]:after {
    content: ' ';
    position: absolute;
    width: 0;
    bottom: $toolTipPosition;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid $toolTipBgColor;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    font-size: 0;
    line-height: 0;
}

[info-data]:hover:before,
[info-data]:hover:after {
    visibility: visible;
    opacity: 1;
    z-index: $toolTipZIndex;
}
