:host {
  //display: flex;
  //width: 100%;
  .headerContent {
    padding: 15px 0;
    //padding: 15px;
    width: 100%;
    background-color: black;
    .logoContent {
      display: flex;
      align-items: center;
      .logo {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        background-image: url('../../../../assets/icon/supercharge-logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .companyName {
        color: white;
        font-size: 18px;
      }
    }
  }
}
