:host {
  .headerContent {
    display: flex;
    height: 50px;
    padding: 0 15px;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(30, 30, 30);
    box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.6);
    .logoContent {
      display: flex;
      align-items: center;
      .logo {
        width: 35px;
        height: 35px;
        background-image: url('../../../../assets/icon/supercharge-logo.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .companyName {
        margin-left: 15px;
        color: white;
        font-size: 18px;
      }
    }
    .newGameContent {
      display: flex;
      align-items: center;
      .startGameBtn {
        cursor: pointer;
        color: white;
        border-radius: 2px;
        font-weight: 500;
        //padding: 5px 15px;
        text-transform: uppercase;
        background-color: rgb(255, 1, 23);
      }
    }
    @media (max-width: 550px) {
      .logoContent {

        .logo {
          width: 25px;
          height: 25px;
        }
        .companyName {
          font-size: 14px;
        }
      }
    }
  }
}
