<footer class="nx-footer-container">
    <div class="container">
        <div class="row">
            <div class="nx-content-row">
                <div class="nx-footer-content" *ngIf="isFooterShow" [@fadeInKeyFrame]>
                    <div class="nx-content">
                        <div class="nx-footer-versio-content">
                            <sub class="nx-container__version">{{version}}</sub>
                        </div>
                        <div class="nx-footer-item-content">
                            <ul class="nav nav-tabs nx-footer__items">
                                <li class="">
                                    <a href="javascript:void(0);" class="footer-logo">l</a>
                                </li>
                                <li class="">
                                    <a [href]="baseURL+'home/terms'">{{'btn_terms_of_use' | translate}}</a>
                                </li>
                                <li class="">
                                    <a [href]="baseURL+'home/help'">{{'btn_help' | translate}}</a>
                                </li>
                                <li class="">
                                    <a [href]="baseURL+'home/help'">{{'lbl_contact_site' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
