$sm-mobil: 500px;
$sm-height: 680px;
$sm-min-width: 767px;
$md-min-width: 992px;
$lg-min-width: 1200px;

$border-color: #cccccc;

.payment-back-stat-content {
  padding-top: 30px;
  .pay-card-status-title {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
  }
  .pay-card-status {
    span:nth-child(1) {
      font-weight: bold;
    }
    padding-bottom: 5px;
    &:nth-last-child(1) {
      padding-bottom: 0;
    }
  }
}

.error-btn-content {
  padding-top: 20px;
  .btn-content {
    display: inline-block;
    width: 100%;
    max-width: 90px;
    margin-right: 10px;
    vertical-align: middle;
    &.float-right {
      float: right;
    }
    .btn-pay-download {
      display: block;
      text-align: center;
      border: 1px solid #0497bb;
      color: #0497bb;
      font-size: 20px;
      border-radius: 4px;
      i {
        padding-top: 1px;
      }
      &:hover {
        color: white;
        background-color: #0497bb;
      }
    }
    /*.btn-arrow-left {
      display: block;
      text-align: center;
      border: 1px solid #0497bb;
      color: #0497bb;
      font-size: 20px;
      border-radius: 4px;

      &:hover {
        color: white;
        background-color: #0497bb;
      }
    }*/

    /*   .btn-pay {
         display: block;
         text-align: center;
         font-size: 12px;
         color: white;
         font-weight: 300;
         border-radius: 4px;
         text-transform: uppercase;
         padding: 7px 0;
         background-color: #0497bb;
         &:hover {
           background-color: #04789c;
         }
       }*/
  }

  &:hover {
    .btn-content {
      background-color: white;
      color: #0497bb;
    }

  }
}

.payment-detail-component {
  .payment-detail-status-content {
    $boxHeight: 35px;
    .pay-status-content {
      padding-top: 30px;
      .pay-status {
        width: 100%;
        font-size: 16px;
        height: 0;
        font-weight: bold;
        overflow: hidden;
        line-height: $boxHeight;
        //transition: all 1s  cubic-bezier(0.1, 0.38, 0, 1.08);
        transition: all 0.55s ease-in-out;
        &.show {
          height: $boxHeight;
        }
      }
    }
  }
  .payment-detail-button-content {
    //padding: 30px 0;
    text-align: right;
    .btn-content {
      display: inline-block;
      width: 100%;
      max-width: 90px;
      margin-right: 10px;
      vertical-align: middle;
      &.float-right {
        float: right;
      }
      .btn-pay-download {
        display: block;
        text-align: center;
        border: 1px solid #0497bb;
        color: #0497bb;
        font-size: 20px;
        border-radius: 4px;
        i {
          padding-top: 3px;
        }
        &:hover {
          color: white;
          background-color: #0497bb;
        }
      }
      /*.btn-arrow-left {
        display: block;
        text-align: center;
        border: 1px solid #0497bb;
        color: #0497bb;
        font-size: 20px;
        border-radius: 4px;

        &:hover {
          color: white;
          background-color: #0497bb;
        }
      }*/

      /*   .btn-pay {
           display: block;
           text-align: center;
           font-size: 12px;
           color: white;
           font-weight: 300;
           border-radius: 4px;
           text-transform: uppercase;
           padding: 7px 0;
           background-color: #0497bb;
           &:hover {
             background-color: #04789c;
           }
         }*/
    }
  }
  @media(max-width: $sm-min-width) {
    .payment-detail-button-content {
      .btn-content {
        display: block;
        width: 100%;
        max-width: 90px;
        padding-bottom: 15px;
        &.float-right {
          float: none;
        }
        &:nth-last-child(1) {
          padding-bottom: 0;
        }
      }
    }
  }

  $content-padding: 30px;
  $label-padding: 10px;
  $label-padding-half: 4px;

  .name-title {
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .payment-detail-product-content {
    padding-top: 30px;
    padding-bottom: 30px;
    .label-wrapper {
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
      background-color: whitesmoke;
      padding: 20px;
      .label-cont {
        padding: $label-padding-half 0;
        span:nth-child(1) {
          font-weight: bold;
        }
        .final-price {
          font-size: 20px;
          float: right;
          font-weight: bold;
        }
      }
      .final-price-cont{
        padding-top: 15px;
      }
      .payNextCont {
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: right;
        a {

          .btn-content {
            border: 1px solid #0497bb;
            padding: 7px 5px;
            border-radius: 4px;
            background-color: #0497bb;
            height: 50px;
            color: white;
            span {
              //vertical-align: middle;
            }
            i {
              margin-top: -2px;
              padding-left: 2px;
              vertical-align: middle;
              font-size: 20px;
            }
          }

          &:hover {
            .btn-content {
              background-color: white;
              color: #0497bb;
            }

          }
        }
      }
      .footer-logo-content {
        text-align: right;

        img {
          max-width: 80px;
          margin-right: 5px;
        }
        .logo-simple {
          max-height: 30px;
        }
        .logo-master {
          max-height: 25px;
        }
        .logo-maestero {
          max-height: 25px;
        }
        .logo-visa {
          max-height: 50px;
        }
        .logo-visaelectron {
          max-height: 25px;

        }
        .logo-american {
          max-height: 30px;

        }
      }
    }

    @media(max-width: $sm-min-width) {
      .label-wrapper {
        padding: 15px;
        .label-cont{
          .final-price {
            font-size: 15px;
          }
        }
        .payNextCont {
          text-align: left;
        }
        .footer-logo-content {
          text-align: left;

        }
      }
    }
  }
  @media(max-width: $sm-min-width) {
    .payment-detail-product-content {
      .label-cont {
        .final-price {
          font-size: 14px;
          float: none;
          font-weight: bold;
        }
      }
      .payNextCont {
        text-align: left;
      }
      .footer-logo-content {
        text-align: left;
      }
    }
  }

  .payment-detail-invoice-content-title {
    font-size: 20px;
    font-weight: 500;
    color: #0497bb;
  }

  /* reszltetek */
  $rotationDuration: 0.25s;
  .payment-invoice-detail {
    font-size: 16px;
    font-weight: 500;

    padding-bottom: 20px;
    span {
      cursor: pointer;
    }
    .detail-invoice-icon {
      cursor: pointer;
      color: #0497bb;
      transform: rotate(0);
      transition: all $rotationDuration ease-out;
      &.open {
        transform: rotate(90deg);
      }
    }
  }
  .show {
    display: block;
  }

  .payment-detail-invoice-content-szamla {

    .invoice-information-content {
      $border-color: #b7b7b7;
      font-size: 0;
      //padding-top: $content-padding;
      padding-bottom: $content-padding;
      .label-wrapper {
        display: inline-block;
        font-size: 13px;
        width: 18%;
        vertical-align: top;
        padding-right: 15px;
        &:nth-last-child(1) {
          width: 10%;
          padding-right: 0;
          .btn-content {
            padding-top: 15px;
          }
        }
        &.noButton {
          width: 20%;
        }
        .label-text {
          padding-top: $label-padding;
          padding-bottom: 5px;
          font-weight: bold;
        }
        .btn-content {
          width: 100%;
          max-width: 90px;
          .btn-pay-download {
            display: block;
            text-align: center;
            border: 1px solid #0497bb;
            color: #0497bb;
            font-size: 20px;
            border-radius: 4px;
            i {
              padding-top: 3px;
            }
            &:hover {
              color: white;
              background-color: #0497bb;
            }
          }
        }
      }
      @media(max-width: $sm-min-width) {
        .label-wrapper {
          padding-bottom: 15px;
          display: block;
          width: 100%;
          padding-right: 0;
          &:nth-last-child(1) {
            width: 100%;
            padding-right: 0;
            .btn-content {
              padding-top: 15px;
            }
          }
        }
      }
    }
  }

  .payment-detail-invoice-content {
    display: none;
    padding-bottom: 30px;
    &.open {
      display: block;
    }
    .payment-detail-invoice {
      //padding-top: 30px;
      font-size: 13px;
      .label-cont {
        padding: $label-padding 0;
        span:nth-child(1) {
          font-weight: bold;
        }
      }
      @media(max-width: $sm-min-width) {
        .second {
          padding-top: 30px;
        }
      }
    }

    .product-information-content {
      padding-top: $content-padding;
      .label-cont {
        font-size: 13px;
        padding: $label-padding 0;
        span:nth-child(1) {
          font-weight: bold;
        }
      }
    }
    @media(max-width: $sm-min-width) {
      .product-information-content {
        padding-top: $content-padding;
      }
    }
  }
  /* tranzakció */

  .payment-trans-detail {
    font-size: 16px;
    font-weight: 500;

    //padding-top: 20px;
    padding-bottom: 20px;
    span {
      cursor: pointer;
    }
    .detail-trans-icon {
      cursor: pointer;
      color: #0497bb;
      transform: rotate(0);
      transition: all $rotationDuration ease-out;
      &.open {
        transform: rotate(90deg);
      }
    }
  }

  .product-trans-content {
    display: none;
    &.open {
      display: block;
    }
    .product-trans {
      .trans-status-cont {
        padding-bottom: 20px;
        .label-cont {
          font-size: 13px;
          padding-top: 5px;
          //padding: $label-padding 0;
          span:nth-child(1) {
            font-weight: bold;
          }
        }
      }
    }
  }
}

$boxSize: 15;
$boxAnimDuration: 2.5s;
$color: #0497BB;
$color2: #04b0cc;
.spinner-content {
  padding-top: 40px;
  .spinner-box {
    margin: auto;
    border-radius: 100%;
    width: $boxSize * 1px;
    height: $boxSize * 1px;
    box-shadow: $boxSize*1px $boxSize*1px $color2,
    $boxSize*-1px $boxSize*1px $color,
    $boxSize*-1px $boxSize*-1px $color2,
    $boxSize*1px $boxSize*-1px $color;
    animation: spinAnim ease infinite $boxAnimDuration;
  }
  .spinner-text {
    padding-top: 40px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
}

@-webkit-keyframes spinAnim {
  0%, 100% {
    box-shadow: $boxSize*1px $boxSize*1px $color2,
    $boxSize*-1px $boxSize*1px $color,
    $boxSize*-1px $boxSize*-1px $color2,
    $boxSize*1px $boxSize*-1px $color;
  }
  25% {
    box-shadow: $boxSize*-1px $boxSize*1px $color,
    $boxSize*-1px $boxSize*-1px $color2,
    $boxSize*1px $boxSize*-1px $color,
    $boxSize*1px $boxSize*1px $color2;
  }

  50% {
    box-shadow: $boxSize*-1px $boxSize*-1px $color2,
    $boxSize*1px $boxSize*-1px $color,
    $boxSize*1px $boxSize*1px $color2,
    $boxSize*-1px $boxSize*1px $color;
  }

  75% {
    box-shadow: $boxSize*1px $boxSize*-1px $color,
    $boxSize*1px $boxSize*1px $color2,
    $boxSize*-1px $boxSize*1px $color,
    $boxSize*-1px $boxSize*-1px $color2;
  }
}