<div class="appComponent">
    <div class="routing">
        <a routerLink="/page1">Page1</a>
        <a routerLink="/page2">Page2</a>
        <a routerLink="/page3">Page3</a>
        <router-outlet></router-outlet>
    </div>
    <!--<my-form></my-form>-->
    <!--<my-after-content-parent></my-after-content-parent>-->
    <!--<my-after-view-parent></my-after-view-parent>-->
    <!--<my-child-view></my-child-view>-->
    <!--<my-commponent-styles></my-commponent-styles>-->
    <!--<my-commponent-communicate></my-commponent-communicate>-->
    <!--<my-commponent-message></my-commponent-message>-->
    <!--<my-loader-component></my-loader-component>-->
    <!--<my-countdown-viewchild-parent></my-countdown-viewchild-parent>-->
    <!--<my-countdown-parent></my-countdown-parent>-->
    <!--<my-voter-parent></my-voter-parent>-->
    <!--<my-name-parent></my-name-parent>-->
    <!--<my-component-param></my-component-param>-->
    <!--<my-app-display-data [display]="'name params: Ödön'"></my-app-display-data>-->
</div>
