:host{
  width: 100%;
  .controllerContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    .btnContent{
      .restartBtn{
        cursor: pointer;
        margin-top: 10px;
        padding: 10px;
        color: white;
        background-color: #2566ff;
      }
    }

  }
}
