<div class="emailUploadComponent" [ngClass]="{'active':isActive !== null && !isActive}">
    <div class="emailUploadWrapper">
        <div class="emailUploadContent">
            <span class="emailUploadTitleContent" (click)="toggleActive()">
                <div class="circleContent">
                    <div class="circle" [ngClass]="{'active':isActive !== null && !isActive}"></div>
                </div>
                <span class="emailUploadTitle">{{'lbl_adress_add' | translate}}</span>
            </span>
            <div *ngIf="isValide"
                 style="color: red; position: absolute; top:25px;">
                {{'msg_error_email_character' | translate}}
            </div>
            <div class="emailContent">
                <div class="emailInputlabel">
                    <span class="labelText">{{'lbl_email_adress_add' | translate}}</span>
                    <span class="labelIcon">*</span>
                    <span class="counter" [ngClass]="{'error':isValide}">({{counterNum}})</span>
                </div>
                <div class="emailInputContent">
                    <span class="emailPlaceHolder"
                          *ngIf="!emailData.length">{{'placeholder_email_address' | translate}}</span>
                    <textarea class="emailInputArea"
                              (input)="changeTextInput($event.target)"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

