.selectDropDownComponent {
    padding-left: 30px;
    .selectpicker{
        width: 200px;
        display: block;
        text-overflow: ellipsis;
        border: none;
        overflow: hidden;
        outline: 0;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.87);
        // border-bottom: 1px solid red;
        .custom-select select {
            display: none;
        }
        .select-selected {
            background-color: DodgerBlue;
        }
    }
    .mat-form-field .mat-form-field-appearance-legacy{
        padding-top: 0px;
        .mat-form-field-wrapper{
            .mat-form-field-flex{
                .mat-form-field-infix .mat-form-field-appearance-legacy{
                    padding-top: 0px;
                }
            }
        }
    }
    
}
