.container {
    //max-width: 970px;
    //min-width: 280px;
}

.nx-header-content {
    border-top: 5px solid $nx-yellow;
}

.nx-main-container {
    //padding-top: 20px;
    padding-bottom: 70px;
}

.nx-footer-content {
    .nx-footer-versio-content {
        font-size: 14px;
        padding-top: 25px;
        float: left;
    }
    .nx-footer-item-content {
        font-size: 14px;
        float: right;
    }
}

.footer-logo-content-footer {
    img {
        max-width: 80px;
        margin-right: 5px;
    }
    .logo-simple {
        max-height: 30px;
    }
    .logo-master {
        max-height: 25px;
    }
    .logo-maestero {
        max-height: 25px;
    }
    .logo-visa {
        max-height: 50px;
    }
    .logo-visaelectron {
        max-height: 25px;
    }
    .logo-american {
        max-height: 30px;
    }
}

//@media (max-width: $sm-mobil) and (max-height: $sm-height) {
@media (max-width: $sm-mobil) {
    .nx-content-container {
        padding-bottom: 20px;
    }
    .nx-footer-container {
        position: inherit;
    }
}

.nx-content-container {
    padding-bottom: 70px;
}

.nx-form-container {
    margin-bottom: 20px;
}

.nx-container--bg {
    background-color: $content-bg;
}

.nx-footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    &:before {
        content: ' ';
        position: absolute;
        width: 100%;
        top: 100%;
        margin-top: -5px;
        border-bottom: 5px solid $nx-yellow;
    }
}

@media(max-width: $sm-min-width) {
    .nx-main-container {
        padding-top: 0;
}
.nx-footer-content {
    .nx-footer-versio-content {
        padding-top: 0;
        float: inherit;
        sub {
            bottom: 0;
        }
    }
    .nx-footer-item-content {
        float: inherit;
    }
}
}

@media (max-width: $sm-mobil) {
    .nx-content-container {
        padding-bottom: 20px;
    }
    .nx-main-container {
        padding-bottom: 220px;
    }
}
