<div class="landingPageComponent">
  <div class="titleContent">
    <div class="companyName">Supercharge</div>
    <div class="gameTitle">Memory Game</div>
  </div>
  <div class="dropDownContent">
    <div class="dropDownTitle">Deck size:</div>
    <!--<app-drop-down
      [selected]="deckSize$ | async"
      (changeDeckSize)="changeDeckSize($event)">
    </app-drop-down>-->
  </div>
  <div class="startGameContent">
    <button class="startGameBtn" (click)="startGame()">Start Game</button>
  </div>
</div>
