$sm-mobil-ios: 400px;
$sm-mobil: 550px;
$sm-height: 680px;
$sm-min-width: 767px;
$md-min-width: 992px;
$lg-min-width: 1200px;

body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  background-color: wheat;
  .flex-container {
    position: relative;
    margin: auto;
    max-width: 900px;
    background-color: orange;
    padding: 0 15px;

    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-start; // Default
    //align-items: center;
    $third:33.3333%;
    .flex-item {
      min-height: 62px;
      flex: 1 1 auto;
      &:nth-child(1) {
        order: 1;
        background-color: #04aad4;
        font-size: 20px;
        flex-basis: 100%;

      }
      &:nth-child(2) {
        order: 2;
        background-color: brown;
        flex-basis: $third;
      }
      &:nth-child(3) {
        order: 3;
        flex-basis: $third;
        background-color: #1f25a5;
        font-size: 12px;
        color: white;
      }
      &:nth-child(4) {
        order: 4;
        flex-basis: $third;
        background-color: #47a52c;

      }
      &:nth-child(5) {
        order: 5;
        background-color: #a5157c;
        flex-basis: $third * 2;
        font-size: 18px;
      }
      &:nth-child(6) {
        order: 6;
        flex-basis: $third;
        background-color: #b7b7b7;

      }
      &:nth-child(7) {
        order: 7;
        font-size: 12px;
        color: white;
        flex-basis: $third * 2;
        background-color: #464646;
      }
      &:nth-child(8) {
        order: 8;
        background-color: #5d5a97;
        flex-basis: $third;
        font-size: 20px;
      }
    }

    @media(max-width: $sm-min-width) {
      .flex-item {
        //flex-basis:50% !important;
      }
    }

  }
}