<div class="landingPageComponent">
    <div class="svgContent">
        <!--<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 466 596">-->
        <svg x="0px" y="0px" width="500px" height="600px" viewBox="0 0 500 600">
            <!--<path class="cls-3"
                  d="M143.25,590.57H118.71a3.75,3.75,0,0,1-3.77-3.78V15.33a3.75,3.75,0,0,1,3.77-3.77h24.54A3.75,3.75,0,0,1,147,15.33V586.79A3.8,3.8,0,0,1,143.25,590.57Z"
                  transform="translate(-3 -3)"/>-->
            <g id="linegroup" >
                <path class="cls-3"
                      d="M143.25,590.57H118.71a3.75,3.75,0,0,1-3.77-3.78V15.33a3.75,3.75,0,0,1,3.77-3.77h24.54A3.75,3.75,0,0,1,147,15.33V586.79A3.8,3.8,0,0,1,143.25,590.57Z"/>
            </g>
        </svg>
    </div>
    <!--<div class="rotateElem">
      <div class="circleElem"></div>
    </div>-->
    <!--<div class="titleContent">
      <div class="companyName">Supercharge</div>
      <div class="gameTitle">Memory Game</div>
    </div>
    <div class="dropDownContent">
      <div class="dropDownTitle">Deck size:</div>
      <app-drop-down
        [selected]="deckSize$ | async"
        (changeDeckSize)="changeDeckSize($event)">
      </app-drop-down>
    </div>
    <div class="startGameContent">
      <button class="startGameBtn" (click)="startGame()">Start Game</button>
    </div>-->
</div>
