<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Angular Sandbox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cards">Cards</a>
        </li>
      </ul>
    </div>
  </nav>
 <!-- <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Angular Sandbox</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            aria-controls="navContent"
            data-target="#navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cards">Card list</a>
        </li>
      </ul>

      &lt;!&ndash;<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>&ndash;&gt;
    </div>
  </nav>-->

  <!--<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="page-title" routerLink="/welcome">Angular Sandbox</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#menuToggler"
            aria-controls="menuToggler"
            aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuToggler">
      &lt;!&ndash; Form &ndash;&gt;
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="formMenu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Forms
        </button>
        <div class="dropdown-menu" aria-labelledby="formMenu">
          <a class="dropdown-item" routerLink="/forms/reactive">Reactive</a>
          <a class="dropdown-item" routerLink="/forms/dynamic">Dynamic</a>
        </div>
      </div>

      &lt;!&ndash; Components &ndash;&gt;
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="componentMenu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Components
        </button>
        <div class="dropdown-menu" aria-labelledby="componentMenu">
          <a class="dropdown-item" routerLink="/components/lifecycle">Lifecycle hooks</a>
          <a class="dropdown-item" routerLink="/components/iterate">Iterate</a>
        </div>
      </div>

      &lt;!&ndash; Modules &ndash;&gt;
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="modulesMenu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Ng Modules
        </button>
        <div class="dropdown-menu" aria-labelledby="modulesMenu">
          <a class="dropdown-item" routerLink="/modules/providers">Providers</a>
          <a class="dropdown-item" routerLink="/modules/singleton-service">Singleton service</a>
          <a class="dropdown-item" routerLink="/modules/sharing-modules">Sharing modules</a>
        </div>
      </div>

    </div>
  </nav>-->
</header>

<!-- Route content -->
<main class="main-content">
  <router-outlet></router-outlet>
</main>
