<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="page-title" routerLink="/welcome">Angular Sandbox</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#menuToggler"
            aria-controls="menuToggler"
            aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuToggler">
      <!-- Form -->
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="formMenu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Forms
        </button>
        <div class="dropdown-menu" aria-labelledby="formMenu">
          <a class="dropdown-item" routerLink="/forms/reactive">Reactive</a>
          <a class="dropdown-item" routerLink="/forms/dynamic">Dynamic</a>
        </div>
      </div>

      <!-- Components -->
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="componentMenu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Components
        </button>
        <div class="dropdown-menu" aria-labelledby="componentMenu">
          <a class="dropdown-item" routerLink="/components/lifecycle">Lifecycle hooks</a>
          <a class="dropdown-item" routerLink="/components/iterate">Iterate</a>
        </div>
      </div>

      <!-- Modules -->
      <div class="dropdown">
        <button
          class="btn dropdown-toggle"
          type="button"
          id="modulesMenu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Ng Modules
        </button>
        <div class="dropdown-menu" aria-labelledby="modulesMenu">
          <a class="dropdown-item" routerLink="/modules/providers">Providers</a>
          <a class="dropdown-item" routerLink="/modules/singleton-service">Singleton service</a>
          <a class="dropdown-item" routerLink="/modules/sharing-modules">Sharing modules</a>
        </div>
      </div>

    </div>
  </nav>
</header>
<!-- Route content -->
<main class="main-content">
  <router-outlet></router-outlet>
</main>
