<div class="container">
    <div class="row">
        <div class="nx-content">
            <div *ngIf="isShowTab">
                <ulms-nav-tab [navData]=this.navTabData></ulms-nav-tab>
            </div>
            <div *ngIf="isCourseDetailMainContent">
                <ulms-course-detail-main-content [itemData]="courseDetail"></ulms-course-detail-main-content>
            </div>
            <div *ngIf="isCourseDetailMainInfo">
                <ulms-course-detail-main-info [itemData]="courseDetail"></ulms-course-detail-main-info>
            </div>
            <div *ngIf="true">
                <ulms-course-user-invitations [courseDetail]="courseDetail"></ulms-course-user-invitations>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
