:host {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 100%;
}

/**
 Tile
 */
.tile {
  width: 80%;
  padding: 0 0 0 24px;
  margin-right: -24px;
}

.tile .content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
.tile .content::-webkit-scrollbar-corner {
  background: transparent;
}
.tile .content::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

.tile .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
  padding-right: 24px;
  max-height: calc(100vh - 206px); /* 740px;*/
}

.tile .action {
  margin-right: 24px;
}

.tile .action .sorting {
  font-size: 12px;
}

.tile .action .onboard {
  margin-left: 8px;
}

/**
 Model card list
 */
.model-card {
  margin: 0 16px 16px 0;
  width: calc((100% / 4) - 12px);
}

.model-card:nth-child(4n) {
  margin-right: 0;
}

/**
 Upload dialog
*/
.upload-dialog .content {
  width: 100%;
  padding: 0;
  max-height: initial;
}

/**
 Error screen
 */
.error {
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 28px;
  --icon-color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error .icon {
  --icon-color: var(--red);
  --icon-size: 80px;
}

.error .title {
  margin-top: 24px;
}
.error .subtitle {
  margin-top: 8px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #4e4e4e;
}

.sort-title {
  font-size: 14px;
}

.upload-dialog,
.info-dialog {
  /* stylelint-disable */
  display: flex !important;
  /* stylelint-enable */
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  will-change: auto;
}

.upload-dialog.show,
.info-dialog.show {
  opacity: 1;
  visibility: visible;
}
