<div *ngIf="!isMainFeeds">
    <div class="courseFeedComponent" *ngFor="let item of currentItemListaData" [@slideOutInKeyFrame]>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="feedContent">
                    <div class="feedTitleContent">
                        <span class="feedTitle">{{item.title}}</span>
                        <div class="feed-icon"></div>
                        <span class="feedDate" style="float: right;">{{item.creationDate}}</span>
                        <div *ngIf="item.label" class="feedLabelContent">
                            <span class="feedLabel">{{item.label}}</span>
                        </div>
                    </div>
                    <div class="feedDescriptionContent">
                        <ulms-description
                            [className]="'feed'"
                            [description]=item.description>
                        </ulms-description>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isMainFeeds">
    <div class="container">
        <div class="nx-content">
            <div class="row">
                <div *ngIf="!currentItemListaData" class="feedPageTitle">Nincs hír</div>
                <div *ngIf="currentItemListaData" class="feedPageTitle">Hírek</div>
                <div class="courseFeedComponent" *ngFor="let item of currentItemListaData" [@slideOutInKeyFrame]>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <div class="feedContent">
                                <div class="feedTitleContent">
                                    <span class="feedTitle">{{item.title}}</span>
                                    <div class="feed-icon"></div>
                                    <span class="feedDate" style="float: right;">{{item.creationDate}}</span>
                                    <div *ngIf="item.label" class="feedLabelContent">
                                        <span class="feedLabel">{{item.label}}</span>
                                    </div>
                                </div>
                                <div class="feedDescriptionContent">
                                    <ulms-description
                                        [className]="'feed'"
                                        [description]=item.description>
                                    </ulms-description>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
