<!-- Course Template Content -->
<div class="courseListItemComponent">
    <div class="courseTitleAdress">
        <div class="row">
            <div class="col-sm-6 pageTitle">{{pageTitle[itemIndex] | translate }}</div>
            <div class="col-sm-6 navigation">
                <ulms-pagination
                    [totalItemsNumber]="itemData.total"
                    [totalPages]="itemData.totalPages"
                    [currentPage]="itemData.currentPage"
                    [itemsPerPage]="itemData.pageSize"
                    [itemIndex]="itemIndex">
                </ulms-pagination>
            </div>
        </div>
    </div>
    <!--Active Course Component-->
    <div *ngIf="itemIndex === courseTabIndex.ACTIVE" class="activeContent">
        <ulms-course-active
            [itemData]="itemData"
        ></ulms-course-active>
    </div>

    <!--Recommended Course Component-->
    <div *ngIf="itemIndex === courseTabIndex.RECOMMENDED" class="recommendedContent">
        <ulms-course-recommended
            [itemData]="itemData"
        ></ulms-course-recommended>
    </div>

    <!--Optional Course Component-->
    <div *ngIf="itemIndex === courseTabIndex.OPTIONAL" class="optionalContent">
        <ulms-course-optional
            [itemData]="itemData"
        ></ulms-course-optional>
    </div>

    <!--Upcoming Course Component-->
    <div *ngIf="itemIndex === courseTabIndex.UPCOMING" class="upcomingContent">
        <ulms-course-upcoming
            [itemData]="itemData"
        ></ulms-course-upcoming>
    </div>

    <!--Closed Course Component-->
    <div *ngIf="itemIndex === courseTabIndex.CLOSED" class="closedContent">
        <ulms-course-closed
            [itemData]="itemData"
        ></ulms-course-closed>
    </div>
</div>





<!-- Course Title Template-->
<!--<ng-template #courseTitleContent let-item>
    <div class="courseTitleContent">
        <a href="{{item.urlId}}">
            <div class="courseTitle">{{item.title}}</div>
        </a>
        <div *ngIf="item.label.length || item.providerName.length" class="courseLabelContent">
            <span *ngIf="item.label.length" class="courseLabel">{{item.label}}</span>
            <span *ngIf="item.label.length && item.providerName.length">-</span>
            <span *ngIf="item.providerName.length" class="courseProviderName">{{item.providerName}}</span>
        </div>
    </div>
</ng-template>-->

<!--<ng-container *ngTemplateOutlet="courseTitleContent; context:{$implicit: item}"></ng-container>-->
