@import '../../../../variables.scss';

$dropDownHeight: 32px;
.dropdownSplitComponent {
    .btn-group {
        position: relative;
        width: 100%;
        height: 100%;
        button, a {
            margin-left: 0;
            outline: 0;

        }
        .caret {
            $arrowSize: 5px;
            margin-left: 0;
            border-top: $arrowSize solid;
            border-right: $arrowSize solid transparent;
            border-left: $arrowSize solid transparent;
        }
        @media(max-width: $md-min-width) {
            .caret {
                //margin-left: -4px;
            }
        }
        @media(max-width: $sm-min-width) {
            .caret {
                //margin-left: 0;
            }
        }
        .btn-left {
            background-color: #0497bb;
            color: white;
            width: 80%;

            overflow: hidden;
            text-overflow: ellipsis;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            &:hover {
                background-color: #04aad4;
            }
            &.navTabLinks {
                //height: 40px;
            }
        }

        .btn-right {
            color: white;
            border-left: 1px solid;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            width: 20%;
            &:disabled {
                cursor: default;
                opacity: 0.4;
            }
            &.navTabLinks {
                //height: 40px;
            }
        }
        @media(max-width: $md-min-width) {
            .btn-left {
                width: 75%;
            }
            .btn-right {
                width: 25%;
            }
        }
        @media(max-width: $sm-min-width) {
            .btn-left {
                width: 90%;
            }
            .btn-right {
                width: 10%;
            }
        }
        @media(max-width: $sm-mobil-ios) {
            .btn-left {
                width: 85%;
            }
            .btn-right {
                width: 15%;
            }
        }
        $animDuration: 0.4s;
        .dropdownMenuContent {
            position: absolute;
            width: 100%;
            top: $dropDownHeight;
            z-index: 1000;
            overflow: hidden;
            .dropdownMenu {
                width: 100%;
                min-width: inherit;
                margin: 0;
                padding: 0;
                border-radius: 0 0 3px 3px;
                border: 3px solid #0497bb;
                border-top: none;
                background-color: white;
                transform: translate3d(0, -100%, 0);
                transition: all $animDuration cubic-bezier(0, 0.68, 0, 0.98);
                -webkit-transition: all $animDuration cubic-bezier(0, 0.68, 0, 0.98);
                li {
                    list-style: none;
                    padding: 6px 4px 6px 4px;
                    cursor: pointer;
                    color: #0497bb;
                    a {
                        display: block;
                    }
                    &:hover {
                        background-color: #e5f4f7;
                    }

                }

                &.open {
                    transform: translate3d(0, 0, 0);
                }

            }
        }
    }

}
