div.button-context {
    width: 100%;

    button {
        display: block;
        margin: 1px auto;
        line-height: 26px;
        padding: 0px;
        // Firefox gives much better performance without shadows and transforms.
        box-shadow: none;
        transform: none;
        transition: none;
        color: #ffff;
        border-radius: 5px;

        &.has-icon {
            width: 40px;
            min-width: 40px;
        }

        &.nx-button{
            max-width: 78px;
        }

        mat-icon.fa {
            font-size: 21px;
        }
    }

    .lock {
        width: 24px;
        display: block;
        margin: 0px auto;
    }

}
