<div class="container">
    <div class="row">
        <div class="nx-content">
            <ulms-nav-tab
                [navData]="[
                {'label': 'lbl_course_content', 'urlPath':'/app/courses/'+urlId+'/content' },
                {'label': 'lbl_course_information', 'urlPath':'/app/courses/'+urlId+'/info' }]"
            ></ulms-nav-tab>
            <div *ngIf="itemData">
                <ulms-course-detail-main-item [itemData]="itemData"></ulms-course-detail-main-item>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
