<!--(@slideInOutKeyFrame.done)="animationEnd($event)-->
<div class="courseListItemContainer active"
     *ngFor="let item of currentItemListaData"
     [@slideInOutKeyFrame]>
    <div class="row">
        <div class="courseItemImgBlock col-sm-2 hidden-xs">
            <div class="imgContent">
                <img src="{{item.imageUrl}}" (click)="clickUrl(item.id)" alt="">
            </div>
        </div>
        <div class="courseItemTextBlock col-sm-7">
            <div class="courseItemTextBlockContent">
                <div class="courseTitleContent">
                    <!-- Title -->
                    <span class="courseTitle"
                          placement="bottom"
                          tooltip="{{item.title}}"
                          containerClass="toolTipContent"
                          (click)="clickUrl(item.id)">
                        {{item.title}}
                    </span>
                    <!-- Label -->
                    <div class="courseLabelContent" *ngIf="item.label.length || item.providerName.length">
                    <span *ngIf="item.label.length"
                          class="courseLabel"
                          containerClass="toolTipContent"
                          placement="bottom"
                          tooltip="'Kurzus kód: '{{item.label}}"
                          container="body"
                    >{{item.label}} </span>
                        <span *ngIf="item.label.length && item.providerName.length">-</span>
                        <span *ngIf="item.providerName.length"
                              class="courseProviderName"
                              containerClass="toolTipContent"
                              placement="bottom"
                              tooltip="'Kurzus szolgáltatója: '{{item.providerName}}">
                        {{item.providerName}}
                    </span>
                    </div>
                </div>

                <div class="courseItemImgBlock">
                    <div class="imgContent">
                        <img src="{{item.imageUrl}}" alt="">
                    </div>
                </div>
                <div class="courseResultWrapper">
                    <div class="courseResultList">
                        <div class="statusTextConent">
                            <!--Előrehaladás-->
                            <ulms-status-line
                                [labelText]="'lbl_progress' | translate "
                                [toolTipDataLabel]="['tt_course_progress'] | tooltTip"
                                [toolTipData]="['tt_course_progress', 'tt_course_object_progress_required'] | tooltTip"
                                [value]=item.courseProgressStatus.value
                                [statusIcon]=item.courseProgressStatus.statusIcon
                            >
                            </ulms-status-line>
                        </div>
                        <div class="statusTextConent">
                            <!--Eredmény-->
                            <ulms-status-line
                                [labelText]="'lbl_measure' | translate"
                                [toolTipDataLabel]="['tt_course_measure'] | tooltTip"
                                [toolTipData]="['tt_course_measure','tt_course_measure_required'] | tooltTip "
                                [value]=item.courseMeasureStatus.value
                                [statusIcon]=item.courseMeasureStatus.statusIcon
                            >
                            </ulms-status-line>
                        </div>
                    </div>
                    <div class="courseResultList">
                        <div class="statusTextConent" style="padding: 5px 0">
                            <!--Határidő idő-->
                            <ulms-status-text
                                [className]=""
                                [toolTipData]="'tt_deadline' | translate"
                                [toolTipTextData]="'tt_first_attempt_deadline_1' | translate:{'grosstimelimit': '(TODO: Gergővel átbeszélni)', 'resultenddate': '(TODO: Gergővel átbeszélni)'}"
                                [labelText]=item.deadLine.textLabel
                                [value]=item.deadLine.value
                            >
                            </ulms-status-text>
                        </div>
                        <div class="statusTextConent" style="padding: 5px 0">
                            <!--Eltöltött idő-->
                            <ulms-status-text
                                [className]=""
                                [labelText]="'lbl_total_time' | translate"
                                [value]="item.totalTime.value | toLocalTimeSpan:{id:'active',otherValue:item.totalTime.netTimeLimit}"
                                [toolTipData]="['tt_total_time'] | tooltTip"
                            >
                            </ulms-status-text>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="courseItemButtonBlock col-sm-3">
            <div class="buttonContent">
                <!-- Status -->
                <ulms-button
                    [isPointer]=false
                    [btnLabel]="'lbl_course_status_' + item.status.value | translate"
                    [btnIconClassName]=item.status.icon
                >
                </ulms-button>
            </div>
            <div class="dropDownContent">
                <!-- Lunch Button -->
                <ulms-dropdown-split
                    [groupName]="'active'"
                    [labelText]="'btn_to_course' | translate"
                    [itemData]=item.links
                    [dropDownLabel]=''
                    (onButtonFn)="clickUrl(item.id)"
                >
                </ulms-dropdown-split>
            </div>
        </div>
    </div>
</div>
