.modalContent {
    padding: 15px;
    .modal-header {
        padding: 0;
        padding-bottom: 15px;
        .modal-title {
            font-weight: 500;
            color: #0497bb;
        }

    }
    .modal-body {
        font-size: 14px;
        padding: 20px 0;
        border-bottom: 1px solid #e5e5e5;
        .modal-body-html-content {
        }
        .modal-link-content {
            padding: 10px 0;
            .modal-link {
                position: relative;
                padding: 10px 15px;
                .link-item-icon {
                    color: #337ab7;
                }
                .link-item {
                    font-size: 15px;
                }
            }
        }
        .modal-check-box-content {
            .modal-check-box {
                margin: 0;
                vertical-align: middle;
            }
            .modal-check-box-text {
                vertical-align: middle;

            }
        }
    }
    .modal-button-content {
        padding-top: 15px;
        text-align: right;
        .rejectBtn {
            background-color: white;
        }
        .acceptBtn {
            color: white;
        }
    }
}
