@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:host {
  width: 100%;
  position: relative;
  display: flex;
}

.model-card {
  user-select: none;
  position: relative;
  width: 100%;
  min-height: 154px;
  display: flex;
  flex-direction: column;
  padding: var(--space-xl);
  border: solid 1px var(--layer1);
  background-color: var(--card-color-background, var(--card-color-background, #fafafa));
  cursor: pointer;
  transition: all 350ms ease;
  will-change: auto;
}

.model-card:hover {
  background-color: var(--card-color-background-hover, #fff);
}

.model-card .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.model-card .header .left {
  opacity: 0.8;
  font-size: 14px;
  font-weight: bold;
  color: var(--text);
  padding-right: var(--space-base);
}

.model-card .subtitle {
  font-size: 12px;
  margin-top: 4px;
  opacity: 0.8;
  font-weight: bold;
}

.model-card .footer {
  display: none;
}

.model-card .text {
  margin-top: var(--space-base);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.model-card .content {
  text-align: center;
  /*height: 84px;*/
  flex: 1;
  /*margin: var(--space-xl) 0;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: center;
}

.model-icon {
  max-width: 100%;
  max-height: 80px;
}

/**
 * Stacked
 * source: https://css-tricks.com/snippets/css/stack-of-paper/
 */
.model-card.stacked {
  /* stylelint-disable */
  box-shadow: 0 0 0 transparent, 4px 4px 0 -1px var(--card-color-background),
    4px 4px 0 0 var(--layer1), 8px 8px 0 -1px var(--card-color-background),
    8px 8px 0 0 var(--layer1) !important;
  /* stylelint-enable */
}
.model-card.stacked:hover {
  /* stylelint-disable */
  box-shadow: 0 0 0 transparent, 5px 5px 0 -1px var(--card-color-background),
    5px 5px 0 0 var(--layer1), 10px 10px 0 -1px var(--card-color-background),
    10px 10px 0 0 var(--layer1) !important;
  /* stylelint-enable */
}

/**
 Available
 */
.model-card.available .subtitle {
  color: var(--blue);
}
.model-card.available .right {
  border-color: var(--blue);
  display: block;
}
/**
 Creating
 */
.model-card.available-creating .subtitle {
  color: var(--orange);
}

.model-card.available-creating .right {
  display: block;
  border-color: transparent;
}
.model-card.available-creating .action {
  animation: rotating 10s linear infinite;
}

/**
 Running
 */
.model-card.available-running {
  box-shadow: inset 2px 0 0 0 var(--green);
  border-left: 0;
}

.model-card.available-running .right {
  border-color: var(--green);
  display: block;
}

.model-card.available-running .subtitle {
  color: var(--green);
}

/**
 Packaging
 */
.model-card.packaging {
  background: rgba(0, 130, 240, 0.6);
}

.model-card.packaging .content {
  color: var(--text);
  align-items: center;
  justify-content: center;
}

.model-card.packaging .title {
  opacity: 0.4;
}

.model-card.packaging .text,
.model-card.packaging .model-icon {
  color: var(--white);
  --icon-color: var(--white);
}

.model-card.packaging .action {
  display: none;
}

.model-card eui-v0-icon[name='dial'] {
  animation: rotating 10s linear infinite;
}

/**
 Packaging Error
 */
.model-card.error {
  box-shadow: inset 2px 0 0 0 var(--red);
}

.model-card.error .model-icon,
.model-card.error .action {
  --icon-color: var(--red);
}

.model-card.error .content {
  align-items: center;
  justify-content: center;
}

/**
 Deployment Error
 */
.model-card.available-error {
  box-shadow: inset 2px 0 0 0 var(--red);
}

.model-card.available-error .model-icon {
  --icon-color: var(--red);
}
.model-card.available-error .action {
  --icon-color: var(--blue);
}
.model-card.available-error .content {
  align-items: center;
  justify-content: center;
}
