// COLORS
// Baisc colors
$bg: rgb(222, 222, 222) !default;
$bg-dark: rgb(192, 192, 192) !default;
$contrast: rgb(34, 34, 34) !default;
$content-bg: whitesmoke !default;
$default-txt: rgba(0, 0, 0, 0.87) !default;

// Main colors
$nx-white: rgb(255, 255, 255) !default;
$nx-blue: rgb(4, 151, 187);
$nx-yellow: rgb(253, 186, 61);
$nx-error-content: rgb(185, 74, 72) !default;
$nx-error-bg:rgb(255, 181, 181) !default;
// Effects and accents
$nx-border-grey: rgb(204, 204, 204) !default;
$nx-accent-grey: rgba(0, 0, 0, 0.37) !default;
$nx-blue-hover: rgb(4, 170, 212) !default;
$nx-is-active-blue:rgb(229, 244, 247) !default;
// Whiteframe shadows
$wf-shadow-1-hue: rgba(0, 0, 0, .2);
$wf-shadow-2-hue: rgba(0, 0, 0, .14);
$wf-shadow-3-hue: rgba(0, 0, 0, .12);
// FontAwesome path
$fa-font-path: "./assets/icons/fa/fonts";


$nx-primary-color: $nx-blue !default;
$nx-secondary-color:$contrast !default;
$nx-tertiary-color:$nx-yellow !default;