<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Nexius Style Kitchen Sink</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./assets/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="./assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./assets/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="./assets/smalltile.png"/>
    <meta name="msapplication-square150x150logo" content="./assets/mediumtile.png"/>
    <meta name="msapplication-wide310x150logo" content="./assets/widetile.png"/>
    <meta name="msapplication-square310x310logo" content="./assets/largetile.png"/>
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Nexius Learning">
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<body>
<!--HEADER-->
<header class="nx-header-content">
    <div class="container">
        <div class="row">
            <nav class="nx-navbar-content nx-content">
                <div href="javascript:void(0);" class="nx-navbar__logo"></div>
                <div class="navbar-header nx-navbar__header">
                    <button type="button" class="navbar-toggle nx-navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#nx-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse nx-navbar-collapse navbar-collapse" id="nx-navbar">
                    <ul class="nav navbar-nav nx-navbar-nav">
                        <!--<li class="nx-header-menu__item">
                            <a href="javascript:void(0);">
                                <span class="nx-header-menu__item-icon nx-header-menu__item-icon&#45;&#45;admin "> </span>&nbsp;Admin
                            </a>
                        </li>-->
                        <li class="nx-header-menu__item">
                            <a href="javascript:void(0);">
                                <span class="nx-header-menu__item-icon nx-header-menu__item-icon&#45;&#45;feeds"></span>&nbsp;
                                My Feed
                                <span class="nx-count-badge pull-right hidden">
                                     <span class="nx-count-badge__count">0</span>
                                 </span>
                            </a>
                        </li>
                        <li class="nx-header-menu__item">
                            <a href="javascript:void(0);">
                                <span class="nx-header-menu__item-icon nx-header-menu__item-icon&#45;&#45;courses"></span>&nbsp;
                                My Courses
                            </a>
                        </li>
                        <li class="nx-dropdown nx-header-menu__item nx-header-menu__item&#45;&#45;dropdown dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="nx-header-menu__item-icon nx-header-menu__item-icon&#45;&#45;user"></span>
                                <span class="nx-header-menu__item-label">User's Name</span> <b class="caret"></b>
                            </a>
                            <ul class="nx-dropdown-menu dropdown-menu">
                                <li class="">
                                    <a href="javascript:void(0);">Exit</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!--CONTENT-->
<div class="nx-main-container">
    <!--<div class="list-content">
                  <div class="list-name __list">
                      <div class="label-title-text">Termék neve</div>
                  </div>
                  <div class="list-price __list">
                      <div class="label-title-text">Végösszeg</div>
                  </div>

                  <div class="list-status __list">
                      <div class="label-title-text">Fizetési státusz</div>
                  </div>
                  <div class="list-price-completion-date __list">
                      <div class="label-title-text">Teljesítési határidő</div>
                  </div>
                  <div class="list-price-time __list">
                      <div class="label-title-text">Fizetés ideje</div>
                  </div>
                  <div class="list-buttons __list">
                      <div class="label-title-text">Műveletek</div>
                  </div>
              </div>-->
    <!--<div class="nx-form-container">
        <form>
            <input type="text" class="form-control"/>
        </form>
    </div>-->

    <!--Course container-->
    <div class="container">
        <div class="row">
            <div class="nx-content">
                <div class="nx-section-container nx-section-container--grey-box">
                    <div class="nx-section-container__thumbnail">
                        <span class="nx-section-container__thumbnail__icon"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Form container-->
    <div class="container">
        <div class="row">
            <div class="nx-content">
                <form class="form-horizontal nx-form nx-section-container--grey-box">
                    <h3 class="text-center">Bejelentkezés</h3>
                    <div class="form-group nx-form__items">
                        <label for="inputEmail" class="col-sm-2 control-label nx-form__item-label"><span
                                    class="nx-form__item-icon nx-form__item-icon--envelope"></span></label>
                        <div class="col-sm-10 nx-form__input-container">
                            <input type="email" class="form-control" id="inputEmail" placeholder="E-mail cím">
                        </div>
                    </div>
                    <div class="form-group nx-form__items">
                        <label for="inputPassword" class="col-sm-2 control-label nx-form__item-label"><span
                                    class="nx-form__item-icon nx-form__item-icon--unlock"></span></label>
                        <div class="col-sm-10 nx-form__input-container">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Jelszó">
                        </div>
                    </div>
                    <div class="form-group nx-form__items">
                        <div class="col-sm-offset-2 col-sm-10 nx-form__button-container">
                            <button type="submit" class="btn btn-primary nx-form-button">Bejelentkezés</button>
                        </div>
                    </div>
                    <a class="pull-right nx-form__link" href="">Elfelejtett jelszó</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<footer class="nx-footer-container">
    <div class="container">
        <div class="row">
            <div class="nx-content-row">
                <div class="nx-footer-content">
                    <div class="nx-content">
                        <!--<div class="footer-logo-content-footer">
                            <img class="payment-logo logo-simple" src="/assets/logo/simplepay-logo_r.jpg" alt="">
                            <img class="payment-logo logo-master" src="/assets/logo/mastercard-logo_r.jpg" alt="">
                            <img class="payment-logo logo-maestero" src="/assets/logo/maestero-logo_r.jpg" alt="">
                            <img class="payment-logo logo-visa" src="/assets/logo/visa-logo_r.jpg" alt="">
                            <img class="payment-logo logo-visaelectron" src="/assets/logo/visa-electron_r.jpg"
                                 alt="">
                            <img class="payment-logo logo-american" src="/assets/logo/american-exress-logo_r.jpg" alt="">
                        </div>-->
                        <div class="nx-footer-versio-content">
                            <sub class="nx-container__version">dev - 17.2.0.0</sub>
                        </div>
                        <div class="nx-footer-item-content">
                            <ul class="nav nav-tabs nx-footer__items">
                                <li class="">
                                    <a href="javascript:void(0);" class="footer-logo">l</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);">Felhasználási feltételek</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);">Súgó</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);">Kapcsolat</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
