<h3>Reactive Form</h3>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="input-item">
    <label>
      First Name:
      <input
        type="text"
        [formControl]="firstName"
        (input)="onChange()">
    </label>
    <span class="error-input"
          *ngIf="!firstName.valid">
      Not valid!
    </span>
  </div>
  <div class="input-item">
    <label>
      Last Name:
      <input
        type="text"
        [formControl]="lastName"
        (input)="onChange()">
    </label>
    <span class="error-input"
          *ngIf="!lastName.valid">
      Not valid!
    </span>
  </div>
  <!--<div class="input-item">
    <div [formGroup]="address">
      <h3>Address</h3>
      <label>
        Street:
        <input type="text" [formControl]="address">
      </label>

      <label>
        City:
        <input type="text" formControlName="city">
      </label>
    </div>
  </div>-->
  <div class=btn-content>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </div>
  Form is valid: {{userForm.valid}}
</form>
