@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.model-status {
  display: flex;
  margin-bottom: 18px;
}

.model-status .icon {
  margin-right: 8px;
  cursor: pointer;
}

.model-status .name {
  opacity: 0.8;
  font-size: 16px;
  font-weight: bold;
}

/**
 Available
 */
.model-status.available .name {
  color: var(--blue);
}
.model-status.available .icon {
  border-color: var(--blue);
  display: block;
}
/**
 Creating
 */
.model-status.available-creating .name {
  color: var(--orange);
}

.model-status.available-creating .icon {
  display: block;
  border-color: transparent;
}
.model-status.available-creating .action {
  animation: rotating 10s linear infinite;
}

/**
 Running
 */
.model-status.available-running {
  border-left: 0;
}

.model-status.available-running .icon {
  border-color: var(--green);
  display: block;
}

.model-status.available-running .name {
  color: var(--green);
}

.model-info {
  background: var(--white);
  margin: 0 -24px;
  padding: 24px;
}

.model-info .title {
  opacity: 0.8;
  font-size: 16px;
  font-weight: bold;
  color: var(--text);
}

.model-info .info-table {
  margin-top: var(--space-xl);
  display: grid;
  font-size: 11px;
  grid-gap: 4px 16px;
  grid-template-columns: auto 1fr;
  grid-row-gap: var(--space-xl);
}

.info-table .column-name {
  opacity: 0.6;
  font-size: 14px;
  color: var(--text);
}

.info-table .column-value {
  opacity: 0.8;
  font-size: 16px;
  color: var(--text);
}

.info-table .column-value.instances {
  width: 48px;
  height: 30px;
  padding: 4px;
  text-align: center;
  border: solid 1px #d6d6d6;
  background-color: var(--white);
}
.info-table .column-name.instances {
  align-self: center;
}

.monitoring {
  display: grid;
  grid-row-gap: 16px;
}

.monitoring .no-information,
.reward .no-reward {
  text-align: center;
  margin: 0 -24px;
  background: var(--white);
  min-height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0.8;
  font-size: 16px;
  color: var(--text);
}

.chart-container {
  display: flex;
}
