<h3>Reactive Form</h3>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="input-item">
    <label>
      Name: <input type="text" formControlName="name">
    </label>
    <span class="error-input" *ngIf="!name.valid">Not valid!</span>
  </div>
  <div class="input-item">
    <label>
      Email: <input type="text" formControlName="email">
    </label>
    <span class="error-input" *ngIf="!email.valid">Not valid!</span>
  </div>
  <div class="input-item" formGroupName="address">
    <label>
      Street: <input type="text" formControlName="street">
    </label>
    <span class="error-input" *ngIf="!address.valid">Not valid!</span>
  </div>
  <div class=btn-content>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </div>
  <p>Profile form is valid: {{profileForm.valid}}</p>
</form>
