<div class="payment-component">
    <div class="container">
        <div class="row">
            <div class="nx-content-container nx-content">

                <div class="payment-title">Fizetés:</div>
                <div class="payment-alert">
                    Kis türelmét kérjük, a fizetéshez átirányítjuk az OTP SimplePay szolgáltatás oldalára. Kérjük, ne zárja be a böngészőablakot.
                </div>
                <div class="payment-desktop-content hidden-xs">
                    <div class="payment-list">
                        <div class="list-content">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="label-title-text">Termék neve</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="label-title-text">Végösszeg</div>
                                </div>
                                <div class="col-sm-1 remove-padding">
                                    <div class="label-title-text marginLeft">Fizetési státusz</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="label-title-text">Teljesítési határidő</div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="label-title-text">Fizetés ideje</div>
                                </div>
                                <div class="col-sm-2 remove-padding-left">
                                    <div class="label-title-text"></div>
                                </div>
                            </div>
                        </div>

                        <div class="list-content list-item failed">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-name label-content">Test 1</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-price label-content">9959 Ft</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-1 remove-padding">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-price-status marginLeft label-content">Fizetésre vár
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-2">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-price-completion-date label-content">2017. szept 14.
                                                15:59
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-price-time label-content">2017. szept 13. 14:10</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 remove-padding-left">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="button-content">
                                                <a href="" class="btn-content btn-pay">Fizetés</a>
                                                <a href="" class="btn-content btn-details">Részletek</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-content list-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-name label-content">Test 1</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-price label-content">9959 Ft</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-1 remove-padding">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-price-status label-content marginLeft">Fizetésre vár
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-price-completion-date label-content">2017. szept 14.
                                                15:59
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="label-price-time label-content">2017. szept 13. 14:10</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2 remove-padding-left">
                                    <div class="label-table">
                                        <div class="label-table-cell">
                                            <div class="button-content">
                                                <a href="" class="btn-content btn-pay-download">
                                                    <i class="fa fa-download"></i>
                                                </a>
                                                <!--<a href="" class="btn-content btn-pay">Fizetés</a>-->
                                                <a href="" class="btn-content btn-details">Részletek</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment-mobil-content visible-xs">
                    <div class="payment-list">

                        <div class="list-content list-item">
                            <div class="label-title-text">Termék neve</div>
                            <div class="label-content">Test 1</div>
                            <div class="label-title-text ">Végösszeg</div>
                            <div class="label-content">9959 Ft</div>
                            <div class="label-title-text">Fizetési státusz</div>
                            <div class="label-content">Fizetésre vár</div>
                            <div class="label-title-text">Teljesítési határidő</div>
                            <div class="label-content">2017. szept 14. 15:59</div>
                            <div class="label-title-text">Fizetés ideje</div>
                            <div class="label-content">2017. szept 13. 14:10</div>
                            <div class="button-content">
                                <a href="" class="btn-content btn-pay">Fizetés</a>
                                <a href="" class="btn-content btn-details">Részletek</a>
                            </div>
                        </div>

                        <div class="list-content list-item">
                            <div class="label-title-text">Termék neve</div>
                            <div class="label-content">Test 2
                            </div>
                            <div class="label-title-text ">Végösszeg</div>
                            <div class="label-content">9959 Ft</div>
                            <div class="label-title-text">Fizetési státusz</div>
                            <div class="label-content">Fizetésre vár</div>
                            <div class="label-title-text">Teljesítési határidő</div>
                            <div class="label-content">2017. szept 14. 15:59</div>
                            <div class="label-title-text">Fizetés ideje</div>
                            <div class="label-content">2017. szept 13. 14:10</div>

                            <div class="button-content">
                                <a href="" class="btn-content btn-pay-download">
                                    <i class="fa fa-download"></i>
                                </a>
                                <a href="" class="btn-content btn-details">Részletek</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
