.nx-navbar-content {
    //opacity: 0;
    .nx-navbar__logo {
        float: left;
        width: 200px;
        height: 75px;
        margin-top: -5px;
        @include border-radius(2px);
        background-color: $nx-blue;
        background-repeat: no-repeat;
        background-image: url('./assets/images/nexius-logo.png');
        background-position: center;
        &.testLogo{
            background-image: url('./assets/images/grayicons/nx-test-white.png');
            background-color: rgba(95,95,95,1) !important;
        }
    }
    .nx-navbar__header {
        .nx-navbar-toggle {
            margin: inherit;
            background-color: $nx-blue;
            border: 2px solid $nx-blue;
            border-radius: 2px;
            padding: 10px;
            margin-top: 15px;
            span {
                background-color: #fff;
            }
        }
    }

    .nx-navbar-collapse {
        padding-right: 0;
        padding-left: 0;
        .nx-navbar-nav {
            float: right;
            .nx-header-menu__item {
                a {
                    color: $nx-blue;
                    padding: 12px;
                    &:focus {

                        background-color: #e5f4f7;
                    }
                    &:hover {
                        background-color: #e5f4f7;
                    }
                    .nx-header-menu__item-flag {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: no-repeat 0 0;
                        vertical-align: middle;
                    }
                    .nx-header-menu__item-icon {
                        @include fa-icon();
                        width: 20px;
                        height: 15px;
                        vertical-align: top;
                        margin-top: 0;
                        margin-right: 3px;
                    }
                    .nx-header-menu__item--active {
                        background-color: $content-bg;
                        color: $nx-blue;
                        border-bottom: 2px solid $nx-blue;
                    }
                    .nx-header-menu__item-icon--admin {
                        @extend .#{$fa-css-prefix}-folder-open;
                        font-size: 1.4em;
                    }

                    .nx-header-menu__item-icon--feeds {
                        @extend .#{$fa-css-prefix}-credit-card-alt;
                        font-size: 1.4em;
                    }

                    .nx-header-menu__item-icon--courses {
                        //@extend .#{$fa-css-prefix}-briefcase;
                        width: 24px;
                        height: 24px;
                        font-size: 1.4em;
                        margin-top: -4px;
                        margin-right: -2px;
                        background: no-repeat url('./assets/icons/suitcase_icon.png');
                    }

                    .nx-header-menu__item-flag--en {
                        background: no-repeat url('./assets/images/en.png');
                    }

                    .nx-header-menu__item-icon--user {
                        //@extend .#{$fa-css-prefix}-graduation-cap;
                        width: 24px;
                        height: 23px;
                        //margin-right: -2px;
                        margin-top: -4px;
                        background: no-repeat url('./assets/icons/student_icon.png');
                        //font-size: 1.4em;
                    }
                }
            }

        }
    }
}

@media(max-width: $sm-min-width) {
    .nx-navbar-content {
        .nx-navbar-collapse {
            padding-right: 15px;
            padding-left: 15px;
            .nx-navbar-nav {
                float: inherit;
                .nx-header-menu__item {
                    a {
                        padding: 10px 0 !important;
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
        }
    }
}

