.statusTextComponent {
    font-size: 12px;
    //line-height: 10px;
    .statusTextLabel {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
    }
    .statusTextValue {
        display: inline-block;
        vertical-align: middle;
        color: #0497bb;

    }
    &.warning {

        .statusTextValue {
            position: relative;
            color: #EE441D;

            i {
                position: absolute;
                top:0;
                left: 100%;
                margin-top: -4px;
                margin-left: 4px;
                font-size: 18px;
            }
        }

    }
}
