@import '../../../../variables.scss';

.statusTextComponent {
    font-size: 12px;
    &.detiallist{

    }
    .statusTextLabel {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        &.detiallist{
            width: $sm-width;
        }
    }
    .statusTextValue {
        display: inline-block;
        vertical-align: middle;
        color: #0497bb;
        max-width: 170px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

    }
    &.warning {

        .statusTextValue {
            position: relative;
            color: #EE441D;

            i {
                position: absolute;
                top: 0;
                left: 100%;
                margin-top: -4px;
                margin-left: 4px;
                font-size: 18px;
            }
        }

    }
    &.userInvitation {
        font-size: 14px;
    }
    @media(max-width: $md-min-width) {
        .statusTextValue {
            max-width: 260px;

        }
    }
    @media(max-width: $sm-min-width) {
        .statusTextLabel {
            &.active{
                width: $sm-width;
            }

        }
        .statusTextValue {
            max-width: inherit;

        }
    }
}
