<footer class="nx-footer-container">
    <div class="container">
        <div class="row">
            <div class="nx-content-row">
                <div class="nx-footer-content">
                    <div class="nx-content">
                        <div class="nx-footer-versio-content">
                            <sub class="nx-container__version">dev - 17.2.0.0</sub>
                        </div>
                        <div class="nx-footer-item-content">
                            <ul class="nav nav-tabs nx-footer__items">
                                <li class="">
                                    <a href="javascript:void(0);" class="footer-logo">l</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);">Felhasználási feltételek</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);">Súgó</a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0);">Kapcsolat</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
