:host {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 10px;
  perspective: 800px;

  .cardContent {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-out;
    transform-style: preserve-3d;
    .item {
      display: flex;
      position: absolute;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      background: rgba(255, 255, 255, 1);
      transition: all 0.75s ease-out;
      backface-visibility: hidden;
      &.inactive {
        opacity: 0.8;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0);
      }
      &.back {
        cursor: pointer;
        transform: rotateY(0);
      }
      &.front {
        transform: rotateY(180deg);
      }
      img {
        width: 60%;
      }
    }
    &.rotate {
      transform: rotateY(180deg);
    }
  }
}
@media (max-width: 500px) {
  :host {
    margin: 6px;
    width: 100px;
    height: 100px;
  }
}
