<div class="cardsContainer">
  <div class="cards" *ngFor="let card of cardList$ | async">
    <div class="card"
         [ngClass]="{'rotate':card.rotate}"
         (click)="cardRotate(card)">
      <div class="cardFront">{{card.id}}</div>
      <div class="cardBack">memo {{card.rotate}}</div>
    </div>
  </div>
</div>


<!--<div class="mainGameComponent">
  <h2 *ngIf="controller$ | async; let state">Value: {{state.counterValue}} </h2>
  <button (click)="addValue()">Add</button>
  <button (click)="removeValue()">Remove</button>
</div>-->
