/* You can add global styles to this file, and also import other style files */
//@import './variables.scss';
//@import './mixins.scss';
/*

html {
    position: relative;
    min-width: 470px;
    min-height: 100%;
    height: auto !important;
}

body {
    color: $color_fuscous_gray_approx;
    min-width: 470px;
    height: auto !important;
    background: $color_alto_approx $data_uri_33;
}
*/

/*
.btn {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    border: 2px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .1s ease-in-out;

    .glyphicon {
        color: $white !important;
        margin-right: 10px;
    }

    &:active {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none;
    }

    &.active {
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none;
    }

    &:hover {
        text-decoration: none;
    }
}
*/

/*.badge {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    border: 2px;
}*/

/*a {
    color: $color_bondi_blue_approx;

    h4 {
        display: inline;
    }

    span.glyphicon {
        margin-right: 6px;
        margin-top: -2px;
    }
}*/

h1 {
    color: $color_bondi_blue_approx;
    font-size: $font_size_extra_large_2 !important;
}

h2 {
    color: $color_bondi_blue_approx;
    font-size: $font_size_extra_large !important;
}

h3 {
    &.coloredText {
        color: $color_bondi_blue_approx;
    }

    span {
        font-family: $font_0, $font_1, $font_2, $font_3;
    }
}

h4 {
    color: $color_bondi_blue_approx;
    margin-bottom: 0;
    margin-top: 2px;

    span {
        font-family: $font_0, $font_1, $font_2, $font_3;
    }
}

h5 {
    color: $color_bondi_blue_approx;
    margin-bottom: 0;
    margin-top: 2px;

    span {
        font-family: $font_0, $font_1, $font_2, $font_3;
    }
}

h6 {
    color: $color_bondi_blue_approx;
    margin-bottom: 0;
    margin-top: 2px;
}

hr {
    display: block;
    border-top: 1px solid $color_celeste_approx;
    margin: 8px 0 5px;
}

form {
    .errorContent {
        padding-top: 0;
        margin-bottom: 0;

        ul {
            max-width: 480px;
        }
    }

    .succesContent ul {
        max-width: 480px;
    }
}

.nowrap { /*uLMS*/
    white-space: nowrap;
}

.rightTextNowrapLabel {
    white-space: nowrap;
    text-align: right;
    right: 5px;
    position: absolute;
}

.rightText { /*uLMS*/
    text-align: right;
}

.leftText { /*uLMS*/
    text-align: left;
}

.greenText {
    color: $color_forest_green_approx;
}

.grayText {
    color: $color_mountain_mist_approx;
}

.grayText555 {
    color: $color_fuscous_gray_approx;
}

.separator {
    width: 110%;
    margin-left: -44px;
    margin-bottom: 30px;
    margin-top: -40px;
    height: 30px;
    background: $color_alto_approx;
}

.page-header {
    padding-bottom: 20px;
    border-bottom: 2px solid $color_alto_approx;
    margin-bottom: 14px;
}

.content { /*uLMS & IDP*/
    padding: 10px 0 10px 70px;

    section {
        border-bottom: 2px solid $color_alto_approx;
        padding: 0 15px 10px 50px;

        &:last-child {
            border-bottom: transparent;
        }
    }
}

.middle-part {
    clear: both;
}

.version {
    display: table;
    padding: 5px 0px 0px 5px;
    position: absolute;
    margin-bottom: -35px;
}

.container {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 970px;
    position: relative;

    &.maincontainer {
        clear: both;
        position: relative;
        padding-bottom: 70px;

        .rightBlock {
            background: $concrete;
            display: none;
            padding: 40px;
            background: $white;
        }

        .titleH3 {
            margin-left: 0;
            padding: 0;
        }

        .titleH2 {
            padding: 0;
            margin-top: 0;
        }

        .contentBlock {
            padding: 40px;
            background: $white;
        }

        h3 {
            font-size: $font_size_extra_large;
            margin-top: 8px;

            span.glyphicon {
                max-width: 55px;
            }
        }
    }
}

.bitSousage { /*uLMS*/
    font-size: $font_size_small;
    padding-top: 0px;
    padding-right: 10px;
}

.btn-primary {
    background: $color_bondi_blue_approx !important;
    border-color: transparent;
    min-height: 33px;

    .glyphicon {
        color: $white;
    }

    &:hover {
        background: $color_cerulean_approx !important;
        border-color: transparent;
    }

    &:focus {
        background: $color_cerulean_approx !important;
        border-color: transparent;
    }

    &:active {
        background: $color_cerulean_approx !important;
        border-color: transparent;
    }

    &.active {
        background: $color_cerulean_approx !important;
        border-color: transparent;
    }
}

.coloredText {
    color: $color_bondi_blue_approx;
}

.redText {
    color: $color_orange_approx;
}

.border3 {
    border: 3px solid $color_alto_approx;
}

.border3Top {
    border-top: 3px solid $color_alto_approx;
}

.border3Bottom {
    border-bottom: 3px solid $color_alto_approx;
}

.footer {
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
    border-bottom: 5px solid $color_yellow_orange_approx;

    .row {
        background-color: $white;
    }
}

input[type="checkbox"] {
    width: 16px !important;
}

.errorContent {
    @extend %extend_5;

    &.narrow {
        padding-top: 0;
        margin-bottom: 10px;
    }
    //[otf : 2354] ne torjon a kep ala a szoveg
    p {
        margin-bottom: 0;
        display: table-cell;
    }

    .inner {
        display: inline-block;
        padding: 20px;
        font-size: $font_size_large;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
        max-width: 800px;
        text-align: left;
    }

    .notFound {
        background: $data_uri_25;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .border {
        @extend %extend_6;
        border: 2px solid $color_tall_poppy_approx;
    }

    .glyphicon {
        font-size: $font_size_extra_large_4;
        vertical-align: middle;
    }
}

.successContent {
    @extend %extend_5;

    p {
        margin-bottom: 0;
        display: inline;
    }

    .inner {
        display: inline-block;
        max-width: 800px;
    }

    .border {
        @extend %extend_6;
    }

    .notFound {
        background: no-repeat $data_uri_27;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .glyphicon {
        font-size: $font_size_extra_large_4;
        vertical-align: middle;
    }

    .glyphicon-ok {
        color: $color_forest_green_approx;
    }
}

.warningContent {
    @extend %extend_5;

    p {
        margin-bottom: 0;
        display: inline;
    }

    .inner {
        display: inline-block;
        max-width: 800px;
    }

    .border {
        @extend %extend_6;
        border: 2px solid $color_warning_yellow;
    }

    .notFound {
        background: no-repeat $data_uri_27;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .glyphicon {
        font-size: $font_size_extra_large_4;
        vertical-align: middle;
    }

    .glyphicon-warning-sign {
        color: $color_warning_yellow;
    }
}

/*
.textOverflow {
    @include text-truncate();
    max-height: 32px; // FIXME Why??
}
*/

.textOverflow_none {
    max-height: inherit;
}

/*tooltip styling*/
.textOverflow_none, .tooltip-inner {
    white-space: normal;
}

table.show {
    display: table !important;
}

.dropdown-menu > {
    li > a {
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .1s ease-in-out;

        &:hover {
            background-image: none;
            background-color: $color_polar_approx;
            background-image: none;
            background-color: $color_polar_approx;
        }

        &:focus {
            background-image: none;
            background-color: $color_polar_approx;
            background-image: none;
            background-color: $color_polar_approx;
        }
    }
/*
    .active > a {
        background-image: none;
        background-color: $color_gallery_approx;

        &:hover {
            background-image: none;
            background-color: $color_gallery_approx;
        }

        &:focus {
            background-image: none;
            background-color: $color_gallery_approx;
        }
    }*/
}

.glyphicon-remove:before {
    color: $color_persian_red_approx;
}

.open .dropdown-toggle.btn-primary {
    background: $color_cerulean_approx !important;
    border-color: transparent;
}

.topToggle {
    z-index: 100;
}

.titleRow { /*uLMS*/
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    border: 2px;
    color: $white;
    background: $color_bondi_blue_approx;
    padding-left: 12px;
    padding-top: 5px;

    .nav > li > a {
        padding: 5px 13px 6px 13px;
        border-radius: 2px 2px 0px 0px;
        font-size: $font_size_small;
    }
}

.courseBlock { /*uLMS*/
    /*courses, detail*/
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    border: 2px;
    padding: 10px 8px 0px 10px;
    margin-bottom: 20px;
    border: 3px solid $color_alto_approx;

    .rightRow { /*uLMS*/
        padding-top: 15px;
        float: right;
    }

    .isRequiredElements {
        display: none;
    }

    span a {
        display: inline-block;
    }

    .btn-group .btn-primary {
        max-height: 30px;
    }
}

.courseBlock, .invitationTopBlock { /*uLMS*/
    /*courses, detail*/
    //bootstrap Split button dropdowns override
    .btn-lg { /*uLMS*/
        font-size: $font_size_buttons_medium;
        padding: 7px;

        .primaryBtn {
            border-right: 1px solid #fff;
        }

        &.dropdown-toggle {
            padding: 2px 12px 0px 12px;
            font-size: $font_size_buttons_small;
            max-height: 30px;
            height: 30px;
            @include box-shadow(-1px 0px 1px #fff);
        }
    }
}

.splitMenu {
    .dropdown-menu {
        &.btn-block {
            margin-top: -2px;
            border-radius: 0px 0px 3px 3px;
            border: 3px solid $color_bondi_blue_approx;

            .contentBlock li a {
                color: $color_bondi_blue_approx;
            }
        }
    }
}

/*uLM / IDP END*/
#scrollTopBtnContainer {
    bottom: 0px;
    position: fixed;
    z-index: 10000000000000;
    max-height: 0px;
}

#scrollTopBtn {
    min-width: 30px;
    max-width: 30px;
    min-height: 70px;
    position: absolute;
    margin-top: -52px;
    margin-left: 8px;
    padding: 7px;
    background: $color_bondi_blue_approx;
    color: $white;
    border: 1px solid;
}

.hideScrollTopBtn {
    pointer-events: none;
    opacity: 0 !important;
}

.preloaderImg { /*uLMS*/
    width: 100%;
    height: 0;
    pointer-events: none;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 1000;

    div {
        background-image: $data_uri_0;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $white;
        height: 52px;
        max-width: 970px;
        margin: auto;
        border-top: 2px solid $color_alto_approx;
    }
}

.contentBlock { /*uLMS*/
    .pagination li a, h4 a:hover {
        color: $color_bondi_blue_approx;
    }

    a:hover {
        text-decoration: inherit;
    }

    li a {
        cursor: pointer;
        color: $white;
    }

    .dropdown-menu {
        li a {
            cursor: pointer;
            color: $color_bondi_blue_approx;
        }
    }
}

.borderBottom2 { /*uLMS*/
    border-bottom: 2px solid $color_alto_approx;

    &:last-child {
        border-bottom: none;
    }
}

.courseTitleLabelProviderBlock { /*uLMS*/
    margin-bottom: 10px;

    h4 {
        font-size: $font_size_large;
        margin-top: 0px;
    }

    h5 {
        color: $color_fuscous_gray_approx;

        span.courseProviderName {
            color: $color_fuscous_gray_approx;
        }

        span.courseLabel {
            text-transform: uppercase;
            color: $color_bondi_blue_approx;
        }
    }
}

.activeCoursesDeadlineTotalTimeBlock { /*uLMS*/
    font-size: $font_size_small;
    overflow: visible;
    margin-top: 0px;

    .row {
        min-height: 22px;
    }

    .activeCoursesDeadlineTotalTime {
        min-width: 180px;
    }
}

.invitationBlock {
    .expDateBelow {
        margin-top: 11px;
    }
}

#optionalCoursesCountValue, #invitationCoursesCountValue, #feedsCountValue {
    text-align: right;
    min-width: 24px;
    position: absolute;
    // margin-top: -15px;
    // margin-left: -8px;
    right: 3px;
    top: -10px;
    font-size: $font_size_extra_small_1;
    border-radius: 2px;
    font-weight: bold;
}

/*.active #optionalCoursesCountValue, .active #invitationCoursesCountValue, .active #feedsCountValue {
    .countValueButtonInner {
        border-radius: 2px;
        padding: 1px 3px;
        background: $color_bondi_blue_approx;
        color: white;
    }
}*/
/*
.active #feedsCountValue .countValueButtonInner {
    background: $color_bondi_blue_approx;
    background-color: $color_bondi_blue_approx;
    color: $white;
}*/

.countValueButtonInner {
    border-radius: 2px;
    padding: 1px 3px;
    background-color: $color_orange_approx_2;
}

.externalLink {
    @extend %extend_1;
}

/*.grayBox {
    background-color: $color_alto_approx;
    background: $color_alto_approx;
    text-align: center;
    padding-top: 6px;
    vertical-align: middle;
    border-radius: 3px;
    min-height: 33px;
    max-height: 33px;
    height: 33px;

    .glyphicon {
        max-width: 22px;
    }
}*/

#coursesListInvitation {
    .invitationBlock {
        .grayBox {
            padding-top: 4px;

            .severity {
                margin-top: 0px;

                &.glyphicon {
                    margin-top: 4px;
                }
            }

            .text {
                margin-top: 0px;
                padding-top: 2px;
                vertical-align: top;
                display: inline-block;
            }
        }
    }
}

#coursesListInvitation, #coursesListOptional, #coursesListInactive {
    .courseTitleLabelProviderBlock {
        margin-bottom: 7px;
    }

    div.courseDescription {
        padding-top: 11px;

        &.toggle {
            max-width: 110px;
            height: 10px;
        }
    }

    .courseDescriptionToggle .toggleBtn {
        margin-top: -53px;
    }

    .textOverflow {
        max-height: 24px;
    }

    .textOverflow_none {
        max-height: inherit;
    }
}

.toggleBtn {
    max-width: 100px;
    text-align: right;
    padding-bottom: 4px;
    color: $color_bondi_blue_approx;
}

.courseDescriptionContainer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.courseDescription {
    text-align: left;

    .toggleBtn {
        padding: 4px 4px;
    }
}

.blue-tooltip + .tooltip > .tooltip-inner {
    white-space: normal;
    background-color: $gallery;
    color: $color_fuscous_gray_approx;
    border: 1px solid $color_gray;
    text-align: left;
}

.blue-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: $color_gray;
    border-top-color: $color_gray;
}

#feedBlock {
    margin-left: 110px;

    h2 {
        margin-top: 17px;
        margin-bottom: 2px;
    }

    .dateName {
        margin-top: 20px;
        margin-right: 20px;
    }

    .feedTextItem {
        padding-right: 15px;
    }

    span.textOverflow {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        max-height: 20px;

        &.show {
            white-space: normal;
            max-height: inherit;
        }

        &.hide {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: block;
        }
    }

    .toggleBtn {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        min-width: 60px;
        max-width: 20px;
        padding: 3px;
        padding-right: 24px;
    }
}

.courseContent {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;

    p {
        margin-bottom: 0;
        display: inline;
    }

    .inner {
        display: inline-block;
        max-width: 800px;
    }

    .border {
        padding: 20px;
        font-size: $font_size_large;
        border: 2px solid $color_bondi_blue_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
    }

    .icon-suitcase-big {
        background: $data_uri_21;
        display: inline-block;
        width: 46px;
        height: 46px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .glyphicon {
        font-size: $font_size_extra_large_4;
        vertical-align: middle;
    }
}

.courseImg {
    min-height: 93px;
    min-width: 110px;
    max-width: 110px;
    margin-bottom: 10px;
}

.navbar-brand {
    @extend %extend_2;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .1s ease-in-out;

    &:focus .navbar-brand-bottom {
        @extend %extend_2;
    }
}

.navbar-brand-bottom {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all .1s ease-in-out;

    &:hover {
        background-color: $color_cerulean_approx !important;
    }
}

.nav-tabs {
    border-bottom: 0;
    padding-right: 5px;

    > li {
        > a {
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .1s ease-in-out;
            border-bottom: 0px solid transparent;

            &:hover {
                border: 1px solid transparent;
                border-bottom: 0px solid transparent;
                background: $color_cerulean_approx;
            }
        }

        &.active > a {
            color: $color_bondi_blue_approx;

            &:hover {
                color: $color_bondi_blue_approx;
            }

            &:focus {
                color: $color_bondi_blue_approx;
            }
        }
    }
}

/////////////// ICONS ///////////////
/*

.glyphicon {
    &.empty {
        font-size: 0;
    }

    &.warning_icon {
        background: $data_uri_2;
    }

    &.chevron_icon {
        color: $color_bondi_blue_approx;
        position: absolute;
        margin: 14px 10px;
        z-index: 10;
    }

    &.information_icon, &.exclamation_mark_icon { !*uLMS*!
        background: $data_uri_34;
        width: 22px;
        height: 22px;
        margin-top: -7px;
        cursor: pointer;
    }

    &.exclamation_mark_icon {
        background: $data_uri_38;
        margin-top: -6px;
        position: absolute;
    }
}

.glyphText {
    display: table-cell;
}
*/

.uLMSicons {
    display: inline-block;
    min-width: 30px;
    width: 30px;
    height: 23px;
    margin-top: -2px;
    background-position: center;
    background: center center no-repeat;

    &.speakingtube_icon, &.speakingtube_icon_topmenu {
        background: $data_uri_13;
        margin-top: 18px;
        min-height: 50px;
        min-width: 30px;
    }

    &.speakingtube_icon {
        min-height: 23px;
    }

    &.speakingtube_icon_topmenu {
        margin-top: 0px;
        min-width: 24px;
        width: 24px;
        min-height: 0px;
        max-height: 21px;
        vertical-align: bottom;
        margin-right: 2px;
    }

    &.runningman_icon {
        background: $data_uri_1;
    }

    &.airship_icon {
        background: $data_uri_3;
    }

    &.apple_icon {
        background: $data_uri_5;
    }

    &.fire_icon {
        background: $data_uri_7;
    }

    &.hourglass_icon {
        background: $data_uri_9;
    }

    &.readbook_icon {
        background: $data_uri_11;
        display: inline-block;
        margin-top: 4px;
    }

    &.admin_icon {
        margin-top: 0px;
        min-width: 24px;
        width: 24px;
        min-height: 0px;
        max-height: 21px;
        vertical-align: bottom;
        margin-right: 2px;
    }

    &.student_icon {
        background: $data_uri_15;
        vertical-align: top;
        margin-right: 7px;
        min-width: 23px;
        width: 23px;
    }
}

/**********************************************************
 * ----------------------- MEDIA ----------------------- *
**********************************************************/

/////////// XS ///////////

@media(max-width: 767px) {

    body { /*uLMS / IDP*/
        background: $color_alto_approx $data_uri_35;
    }

    .maincontainer {
        padding-bottom: 160px;
    }

    .container { /*uLMS & IDP*/
        max-width: 470px;
    }

    .titleRow .nav > li > a {
        padding: 10px 10px;
    }

    #coursesListInvitation, #coursesListOptional, #coursesListInactive {
        .courseTitleLabelProviderBlock {
            margin-bottom: 10px;
        }

        div.courseDescription {
            padding-top: 0px;
            padding-bottom: 10px;
            margin-bottom: 5px;

            &.toggle {
                max-width: 110px;
                height: 10px;
            }
        }

        .courseDescriptionToggle .toggleBtn {
            margin-top: -53px;
        }

        .textOverflow {
            max-height: 24px;
        }

        .textOverflow_none {
            max-height: inherit;
        }
    }

    .grayBox { /*uLMS*/
        margin-right: 10px;
        max-width: 190px;
        width: 190px;
    }

    .propertiesContainer {
        min-width: 294px;
        max-width: 318px;
        margin-bottom: 10px;
    }

    .propertiesContainerBlockHeight {
        max-height: 60px;
    }

    .bitSousage { /*uLMS*/
        padding-right: 5px;
    }

    .courseBlock { /*uLMS*/

        .progressMeasureBlock { /*uLMS*/
            .infoTextContainer {
                margin-left: 240px;
            }
        }

        .courseTitleLabelProviderBlock { /*uLMS*/
            .courseTitleLabelProviderBlockTextContainer {
                h4 {
                    max-width: 400px;
                }
            }
        }
    }

    .activeCoursesDeadlineTotalTimeBlock { /*uLMS*/
        font-size: $font_size_small;
        overflow: visible;
        margin-top: 0px;
        margin-bottom: 10px;

        .activeCoursesDeadlineTotalTime {
            min-height: 70px;

            &.rightTimeBox {
                position: absolute;
                margin-left: 160px;
            }
        }
    }

    #optionalCoursesCountValue, #invitationCoursesCountValue, #feedsCountValue {
        // margin-top: -12px;
        // margin-left: -12px;
        top: -1px;
        right: -1px;
        font-size: $font_size_extra_small_2;
        border-radius: 2px;
    }

    #feedsCountValue {
        .countValueButtonInner {
            background-color: $white;
            color: $color_bondi_blue_approx;
        }
    }

    #feedBlock {
        margin: 0px;

        .dateName {
            margin: 3px 0px 10px 0px;
            float: left;

            .name {
                margin-left: 10px;
            }
        }

        .toggleBtn {
            min-width: 36px;
        }
    }

    .courseDescription {
        &.descriptionText {
            max-width: 350px;
            margin-left: 10px;
        }
    }
}

/////////// SM ///////////

@media (min-width: 768px) and (max-width: 991px) {
    body {
        background: $color_alto_approx $data_uri_36;
    }

    .maincontainer {
        padding-bottom: 75px;
    }

    .propertiesContainer {
        min-width: 404px;
        margin-top: 0px;
    }

    .version {
        width: 100%;
        text-align: right;
        float: right;
        margin-bottom: 10px;
        padding-right: 20px;
    }

    .titleRow { /*uLMS*/
        .nav > li > a {
            padding: 5px 20px 6px 20px;
            font-size: $font_size_medium;
        }
    }

    .bitSousage {
        padding-right: 5px;
    }

    .grayBox { /*uLMS*/
        margin-bottom: 36px;
    }

    .userOptionalBlock {
        .grayBox { /*uLMS*/
            margin-bottom: 0px;
            max-width: 177px;
        }
    }

    .invitationBlock, #coursesListInactive {
        .grayBox { /*uLMS*/
            margin-bottom: 0px;
        }
    }

    .inactiveTopBlock {
        .grayBox { /*uLMS*/
            margin-bottom: 10px;
        }
    }

    .courseBlock { /*uLMS*/
        .activeCoursesDeadlineTotalTimeBlock { /*uLMS*/
            margin-left: 10px;
        }

        .progressMeasureBlock { /*uLMS*/
            .infoTextContainer {
                margin-left: 200px;
            }
        }
    }

    .courseTitleLabelProviderBlock { /*uLMS*/
        /*min-width: 404px;*/
        overflow: visible;
        margin-right: 16px;
    }

    #coursesListInvitation {
        .courseTitleLabelProviderBlock {
            margin-right: 0px;
        }

        .propertiesContainer {
            min-width: 390px;
            /*margin-left: 15px;*/
        }

        .courseDescriptionContainer {
            .descriptionText {
                max-width: 370px;
                /*margin-left: 15px;*/
            }
        }

        .invitationItems {
            .courseDescriptionContainer {
                .descriptionText {
                    margin-left: 15px;
                }
            }
        }
    }

    #coursesListInvitation, #coursesListOptional, #coursesListInactive, .inactiveTopBlock {
        .grayBoxParent {
            min-width: 171px;
        }

        .courseImg {
            margin-bottom: 0px;
        }

        .organizationName {
            min-width: 220px;
            position: absolute;
        }
    }

    #coursesListOptional, #coursesListInactive, .inactiveTopBlock {
        .grayBoxParent {
            min-width: 171px;
        }

        .courseImg {
            margin-bottom: 0px;
        }

        .organizationName {
            min-width: 220px;
            position: absolute;
        }
    }

    #coursesListInactive { /*uLMS*/
        .courseTitleLabelProviderBlock { /*uLMS*/
            margin-right: 0px;
        }

        .organizationName {
            min-width: 190px;
        }
    }

    .courseBlock, .contentBlock { /*uLMS*/
        /*courses, detail*/
        .btn-lg {
            .caret {
                border-width: 5px 3px 0;
            }
        }
    }

    #feedBlock {
        .toggleBtn {
            min-width: 50px;
        }

        .dateName {
            float: right;
            text-align: right;
        }
    }
}

/////////// MD ///////////

@media(max-width: 991px) {
    .maincontainer {
        .contentBlock {
            padding: 20px !important;
        }

        .rightBlock {
            padding: 20px !important;
        }
    }
}

/////////// LG ///////////

@media(min-width: 992px) {

    .version {
        text-align: left;
    }

    .propertiesContainer {
        min-width: 538px;
        margin-top: 0px;
    }

    .titleRow { /*uLMS*/
        .nav > li > a {
            padding: 5px 20px 6px 20px;
            font-size: $font_size_medium;
        }
    }

    .bitSousage { /*uLMS*/
        padding-right: 5px;
    }

    .grayBox { /*uLMS*/
        margin-bottom: 36px;
    }

    .userOptionalBlock {
        .grayBox { /*uLMS*/
            margin-bottom: 0px;
            max-width: 222px;
        }
    }

    .invitationBlock {
        .grayBox { /*uLMS*/
            margin-bottom: 0px;
        }

        .statusContextMenuBlock { /*uLMs*/
            min-width: 216px;
        }
    }

    .inactiveTopBlock {
        .grayBox { /*uLMS*/
            margin-bottom: 10px;
        }
    }

    .courseTitleLabelProviderBlock { /*uLMS*/
        max-width: 536px;
    }

    .courseBlock {

        .courseTitleLabelProviderBlock { /*uLMS*/
            .courseTitleLabelProviderBlockTextContainer {
                max-width: 534px;

                h4 {
                    max-width: 530px;
                }
            }
        }

    }

    #coursesListInvitation, #coursesListOptional, #coursesListInactive {
        .grayBoxParent {
            min-width: 216px;
        }

        .courseImg {
            margin-bottom: 0px;
        }

        .organizationName {
            min-width: 350px;
            position: absolute;
        }
    }

    #coursesListInactive {

        .propertiesContainer {
            min-width: 520px;
            margin-top: 0px;
        }

        .invitationItems {
            .courseDescriptionContainer {
                .descriptionText {
                    max-width: 500px;
                    margin-left: 15px;
                }
            }
        }

        .courseTitleLabelProviderBlock { /*uLMS*/
            max-width: 752px;
        }

        .grayBox {
            margin-bottom: 0px;
        }
    }

    #feedBlock {
        .feedTextItem {
            max-width: 500px;
        }

        .dateName {
            float: right;
        }

        .toggleBtn {
            min-width: 65px;
        }
    }

}

button {
    border: 0;
    outline: 0;
}

/* new config style */

/* glyphicon restet */
.glyphicon {
    //top: 0 !important;
    line-height: inherit !important;
}

.panel-title {
    font-size: inherit !important;
}

/* According menu style */
.card.accordingStyle, .card.accordingStyle .card-header,
.panel.accordingStyle {
    border-radius: 0;
    border: none;
    padding: 0;
}
