<div class="navTabComponens">
    <div class="navTabContent" role="tablist">
        <div *ngFor="let item of navData"
             class="tabItem"
             routerLink={{item.urlPath}}
             routerLinkActive="active">
            <span class="tabBtn">{{ item.label | translate }}</span>
        </div>
    </div>
</div>


<!--Count Bubble-->
<!--
<span id="invitationCoursesCountValue" class="pull-right" *ngIf="invitedCount > 0">
                                <span class="countValueButtonInner">
                                    {{ invitedCount }}
                                </span>
                            </span>-->
