@import '../../../variables.scss';

.courseListItemContainer {
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    border: 3px solid #dedede;
    border-radius: 2px;
    .courseItemImgBlock {
        text-align: center;
        .imgContent {
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .courseItemTextBlock {
        .courseItemTextBlockContent {
            margin-left: -30px;
            .courseTitleContent {
                .courseTitle {
                    cursor: pointer;
                    font-size: 16px;
                    color: #0497bb;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .courseLabelContent {
                    padding-top: 5px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    .courseLabel {
                        color: #0497bb;
                    }
                    .courseProviderName {
                        font-weight: 500;
                    }
                }

            }
            @media(max-width: $md-min-width) {
                .courseTitleContent {
                    padding-bottom: 10px;

                }
            }
            @media(max-width: $sm-min-width) {
                .courseTitleContent {
                    padding-bottom: 15px;
                }
            }

            .courseItemImgBlock {
                display: none !important;
            }
            @media(max-width: $sm-min-width) {
                .courseItemImgBlock {
                    display: inline-block !important;
                    vertical-align: top;
                    padding-right: 10px;

                }
            }
            .courseResultWrapper {
                display: inline-block;
                padding-top: 10px;
                .courseResultList {
                    display: inline-block;
                    vertical-align: top;
                    &:nth-child(1) {
                        padding-right: 15px;
                    }
                    &:nth-child(2) {
                        .statusTextConent{
                            padding: 3px 0;
                            &:nth-child(1) {
                                //padding-bottom: 5px;
                            }
                        }
                    }
                }
                @media(max-width: $md-min-width) {
                    .courseResultList {
                        padding-top: 0;
                        &:nth-child(2) {
                            //padding-right: 10px;
                            &.recommended {
                                display: block;
                                padding-left: 0;
                            }
                        }
                    }
                }
                @media(max-width: $sm-min-width) {
                    .courseResultList {
                        display: block;
                        &:nth-child(1) {
                            //padding-bottom: 20px;

                            &.recommended {
                                padding-bottom: 0;
                            }
                        }
                        &:nth-child(2) {
                            //padding-top: 0;
                            //padding-left: 0;
                            &.recommended {
                                padding-bottom: 10px;
                            }

                        }

                    }
                }
                @media(max-width: $sm-mobil-ios) {
                    .courseResultList {
                        //padding-top: 20px;

                    }
                }
            }


            .courseItemImgBlock {
                display: inline-block;
            }
            @media(max-width: $sm-mobil-ios) {
                .courseResultWrapper {
                    display: block !important;

                }
                .courseItemImgBlock {
                    display: block !important;
                    vertical-align: top;
                    padding-right: 10px;

                }
            }
        }
        @media(max-width: $md-min-width) {
            .courseItemTextBlockContent {
                margin-left: 0;
            }
        }
    }
    .courseItemButtonBlock {
        .buttonContent {
            margin-bottom: 35px;
        }
        @media(max-width: $sm-min-width) {
            .buttonContent {
                margin-top: 15px;
                margin-bottom: 15px;
            }

        }
    }
    .descriptionContent{
        padding-top: 15px;
    }
}
