:host {
  .gameComponent {
    padding-top: 30px;
    font-size: 25px;
    .letterInputContent {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      .letterInput {
        color: #191919;
        text-align: center;
        width: 50px;
        height: 50px;
        border: 4px solid #191919;
        outline: 0;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .wrongLetterContent {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      .textItem {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
      }
    }
  }
}

.textInput {
  color: #191919;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 4px solid #191919;
  outline: 0;
  font-weight: bold;
  text-decoration: none;
}
