body {
  font-family: "Roboto", "Noto", sans-serif;
  margin: 0;
  padding: 0;
  .dynamic-class{
    font-size: 30px;
  }

  .title{
    font-size: 20px;
    margin: 15px 0;
  }
  .customized{
    font-size: 20px;
    margin: 15px 0;
  }
  .image{
    width: 200px;
  }

}

