<!--
<div class="navbar navbar-inverse headerLine" role="navigation">
    <div class="container">
        <div class="navba id="feedsHamburgerCountValue" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <spanr-header angularNavBar">
            <button  id="feedsCountValue" class="pull-right" *ngIf="incomingFeedCount > 0">
                    <span class="countValueButtonInner">
                        {{ incomingFeedCount }}
                    </span>
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="topLogo" class="navbar-brand" [href]="homeUrl"></a>
        </div>
        &lt;!&ndash;/.navbar-collapse BEGIN&ndash;&gt;

        <div class="navbar-collapse collapse pull-right" id="topMenu">
            <ul class="nav navbar-nav angularNavBar">

                &lt;!&ndash; TODO: IF string.IsNullOrEmpty(role) && (role == SystemRole.SysAdmin.ToString() || role == SystemRole.SysSupport.ToString() || role == SystemRole.Administrator.ToString()) &ndash;&gt;
                <li>
                    <a href="/admin" id="linkAdmin">
                        <span class="uLMSicons admin_icon"></span>{{ 'lbl_admin' | translate }}
                    </a>
                </li>

                <li class="" *ngIf="!contextId">
                    <a id="myFeedsBtn" routerLink="/app/feeds" routerLinkActive="active">
                        <span class="uLMSicons speakingtube_icon_topmenu"></span> {{ 'lbl_my_feed' | translate }}
                        <span id="feedsCountValue" class="pull-right" *ngIf="incomingFeedCount > 0">
                            <span class="countValueButtonInner">
                                {{ incomingFeedCount }}
                            </span>
                        </span>
                    </a>
                </li>
                <li *ngIf="!contextId" routerLink="/app/courses/list" routerLinkActive="active">
                    <a id="myCoursesBtn">
                        <span class="icon icon-briefcase"></span> {{ 'lbl_my_courses' | translate }}
                    </a>
                </li>

                <li class="dropdown hidden-xs" *ngIf="!contextId" dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
                    <a href class="dropdown-toggle hidden-xs" dropdownToggle (click)="false">
                        <span class="uLMSicons student_icon"></span>
                        <span class="userName textOverflow">{{ user.name }}</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" *dropdownMenu>
                        <li class="hidden-sm hidden-md hidden-lg">{{ 'lbl_my_feed' | translate }}</li>
                        <li class="hidden-xs">
                            <a id="profile-btn" [href]="idpUrl + 'profile/index'">
                                {{ 'btn_Profile' | translate }} <b class="flag" [ngClass]="'flag-' + localeCodesMap[currentLocale]"></b>
                            </a>
                        </li>
                        <li class="hidden-xs">
                            <a [href]="idpUrl + 'account/logoff'">{{ 'btn_logout' | translate }}</a>
                        </li>
                    </ul>
                </li>
                &lt;!&ndash; showing only XS size &ndash;&gt;
                <li *ngIf="!contextId">
                    <a [href]="idpUrl + 'profile/index'" class="hidden-sm hidden-md hidden-lg">
                        <span class="uLMSicons student_icon"></span><span class="userName textOverflow">{{ user.name }}</span>
                    </a>
                </li>
                &lt;!&ndash; <li class="hidden-sm hidden-md hidden-lg"><a [href]="idpUrl + 'profile/index'">{{ 'btn_Profile' | translate }}</a></li> &ndash;&gt;
                <li class="hidden-sm hidden-md hidden-lg" *ngIf="!contextId">
                    <a [href]="idpUrl + 'account/logoff'">
                        <span class="glyphicon glyphicon-off"></span>{{ 'btn_logout' | translate }}
                    </a>
                </li>
                &lt;!&ndash; showing only XS size &ndash;&gt;

                <li class="dropdown" *ngIf="contextId">
                    <a href="javascript:void(null)" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="uLMSicons student_icon"></span>{{ user.name }}<b class="caret"></b>
                    </a>
                </li>
                <li class="dropdown language-selector" *ngIf="contextId" dropdown>
                    <a href class="dropdown-toggle" dropdownToggle (click)="false">
                        <span>HU <b class="flag flag-hu"></b></span><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" *dropdownMenu>
                        <li *ngFor="let lang of localeCodes">
                            <a href="javascript:void(null)" (click)="setLanguage(lang)">
                                {{ localeCodesMap[lang] | uppercase }}
                                <span class="flag" [ngClass]="'flag-' + localeCodesMap[lang]"></span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
-->

