<!--HEADER-->
<div class="headerComponens">
    <header class="nx-header-content">
        <div class="container">
            <div class="row">
                <nav class="nx-navbar-content nx-content" *ngIf="isMenuShow" [@fadeInKeyFrame]>
                <!--<nav class="nx-navbar-content nx-content" [hidden]="false">-->
                    <a href="/courses" class="nx-navbar__logo"></a>
                    <div class="navbar-header nx-navbar__header">
                        <button type="button" class="navbar-toggle nx-navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#nx-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse nx-navbar-collapse navbar-collapse" id="nx-navbar">
                        <ul class="nav navbar-nav nx-navbar-nav">
                            <!--Számlázás-->
                            <li class="nx-header-menu__item" *ngIf="!isLTI">
                                <a href="javascript:void(0);" class="menu_item_bt">
                                    <span
                                        class="nx-header-menu__item-icon nx-header-menu__item-icon--feeds icon-nx-payment"> </span>
                                    <span>{{'lbl_billing' | translate }}</span>
                                </a>
                            </li>
                            <!--Admin-->
                            <li class="nx-header-menu__item" *ngIf="isUserAdmin">
                                <a href="/admin" class="menu_item_bt">
                                    <span
                                        class="nx-header-menu__item-icon nx-header-menu__item-icon--admin icon-nx-admin"> </span>
                                    <span>{{ 'lbl_admin' | translate }}</span>
                                </a>
                            </li>
                            <!--Hírek-->
                            <li class="nx-header-menu__item" *ngIf="!isLTI">
                                <a href="javascript:void(0);" (click)="navigationUrl()" class="menu_item_bt">
                                    <div class="nx-header-menu__item-icon feed-icon icon-nx-feeds"></div>
                                    {{ 'lbl_feed' | translate }}
                                    <span class="nx-count-badge pull-right hidden">
                                        <span class="nx-count-badge__count"></span>
                                    </span>
                                    <span class="countValueContent" *ngIf="notification && notification.length > 0">
                                        <span class="countValue">{{notification.length}}</span>
                                    </span>
                                </a>
                            </li>
                            <!--Kurzusaim-->
                            <li class="nx-header-menu__item" *ngIf="!isLTI">
                                <a href="/courses" class="menu_item_bt">
                                    <span
                                        class="nx-header-menu__item-icon nx-header-menu__item-icon--courses icon-nx-courses"></span>
                                    {{ 'lbl_my_courses' | translate }}

                                </a>
                            </li>
                            <!-- LTI vissza gomb -->
                            <li class="nx-header-menu__item ltiBackBtn" *ngIf="isLTI && LTIData">
                                <a [href]="LTIData.returnUrl" class="menu_item_bt">
                                    <span class="glyphicon glyphicon-chevron-left chevron_icon"></span>
                                    {{ LTIButtonLabel}}
                                </a>
                            </li>

                            <!--User-->
                            <li class="nx-dropdown nx-header-menu__item nx-header-menu__item--dropdown dropdown">
                                <a class="dropdown-toggle" [ngClass]="{'hideMenu': isLTI}" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span
                                        class="nx-header-menu__item-icon nx-header-menu__item-icon--user icon-nx-user"></span>
                                    <div class="nx-header-menu__item-label">{{userData.name}}</div>
                                    <b class="caret" *ngIf="!isLTI"></b>
                                </a>
                                <ul class="nx-dropdown-menu dropdown-menu" *ngIf="!isLTI">
                                    <!--Profile-->
                                    <li class="">
                                        <a [href]="configData.baseUrl + 'profile/index'">
                                            {{ 'btn_Profile' | translate }}
                                        </a>
                                    </li>
                                    <!--Kijelentkezés-->
                                    <li class="">
                                        <a [href]="configData.logoutUrl">
                                            {{ 'btn_logout' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!--Nyelvválasztó-->
                            <li class="nx-dropdown languageDropDown" *ngIf="isLTI">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <div class="nx-header-menu__item-label">{{localeCodesMap[0]}}</div>
                                    <b class="caret"></b>
                                </a>
                                <ul class="nx-dropdown-menu dropdown-menu">
                                    <li class="">
                                        <a [href]="">{{localeCodesMap[0]}}</a>
                                    </li>
                                    <li class="">
                                        <a [href]="">{{localeCodesMap[1]}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>
