@import '../../navbar.scss';

/**********************************************************
 * ----------------------- MEDIA ----------------------- *
**********************************************************/

.navbar {

    &.headerLine {
        border-top: 5px solid $color_yellow_orange_approx;
        margin-bottom: 0;

        .container {
            background: $white;
        }

        #topLogo {
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 2px;
            border: 2px;
            margin-left: 40px;
            margin-top: -8px;
        }
    }

    .nav > li > a {
        padding: 10px 10px;
    }

    #topMenu { /*uLMS / IDP*/
        margin-right: 30px;

        .nav > li > a {
            padding: 10px 7px;
        }

        .caret {
            margin-left: 7px;
            margin-bottom: 10px;
        }

        li.dropdown-menu:hover {
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 2px;
            border: 2px;
            background-color: $color_polar_approx !important;
            color: $color_bondi_blue_approx !important;
        }
    }

    .nav {

        &.navbar-nav {

            li {

                .uLMSicons {

                    &.admin_icon {
                        background: $data_uri_40;
                    }

                    &.speakingtube_icon_topmenu, &.admin_icon {
                        margin-top: 0px;
                        min-width: 24px;
                        width: 24px;
                        min-height: 0px;
                        max-height: 21px;
                        vertical-align: bottom;
                        margin-right: 2px;
                    }

                    &.student_icon {
                        background: $data_uri_15;
                        vertical-align: top;
                        margin-right: 7px;
                        min-width: 23px;
                        width: 23px;
                    }

                }

                .icon {
                    &.icon-briefcase {
                        background: $data_uri_19_01;
                        width: 21px;
                        height: 21px;
                        display: inline-block;
                        vertical-align: bottom;
                        margin-right: 5px;
                    }
                }

                .flag { /*uLMS / IDP*/
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: no-repeat 0 0;
                    vertical-align: middle;

                    &.flag-hu {
                        background-image: $img_flag_hu;
                    }

                    &.flag-en {
                        background-image: $img_flag_en;
                    }

                    &.flag-de {
                        background-image: $img_flag_de;
                    }
                }

            }

        }

    }

    #feedsHamburgerCountValue {
        #feedsCountValue {
            position: absolute;
            margin-left: 13px;
            margin-top: -18px;
            font-size: 11px;
            color: white;
        }
    }

    #myFeedsBtn {
        z-index: 1000;
    }

}

/**********************************************************
 * ----------------------- MEDIA ----------------------- *
**********************************************************/

/////////// XS ///////////

@media(max-width: 767px) { /*XS size*/

    .navbar {
        div.headerLine {

            #topLogo { /*uLMS / IDP*/
                margin-left: 20px;
            }

        }

        #topMenu { /*uLMS / IDP*/
            width: 415px;

            .userName {
                display: inline-block;
                max-width: 360px;
            }
        }
    }
}

/////////// SM ///////////

@media (min-width: 768px) and (max-width: 991px) { /*SM size*/ /*uLMS - IDP*/

    .navbar {
        div.headerLine {

            #topLogo { /*uLMS - IDP*/
                margin-left: 20px;
            }
        }

        #topMenu { /*uLMS / IDP*/
            margin-right: 8px;

            .userName {
                display: inline-block;
                max-width: 85px;
            }
        }
    }

}

/////////// LG ///////////

@media(min-width: 992px) { /*min MD size*/

    .navbar {
        #topMenu {
            margin-right: 25px;

            .userName {
                display: inline-block;
                max-width: 268px;
            }
        }
    }

}
