$primary-color: #0497bb;
$title-container-bg: rgba(4, 150, 187, 0.2);
// $title-container-bg: #0496bb1a;
$secondary-color: #5f5f5f;
$font-size-big: 12px;
$default-font-family: 'Open Sans', Arial;

.nx-title-component {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: $title-container-bg ;
    color: $primary-color;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: $default-font-family;
    font-size: $font-size-big;
    margin-bottom: 20px;
    
        .nx-title {
            align-self: flex-start;
            align-self: stretch;
            text-transform: uppercase
        }

        .nx-help-btn {
            align-self: flex-end;
            text-align: center;
            text-decoration: underline;
            cursor: pointer;
        }
}