.descriptionComponent {
    .descriptionWrapper {
        position: relative;
        .descriptionIcon {
            font-size: 16px;
            position: absolute;
            cursor: pointer;
            color: #0497bb;
            top: -1px;
            transform: rotate(0);
            transition: all 0.2s ease-out;
            &.open {
                transform: rotate(90deg);
            }
        }

        .descriptionTextValue {
            font-size: 13px;
            padding-left: 18px;
            //padding-top: 2px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            &.open {
                text-overflow: inherit;
                white-space: normal;
                overflow: inherit;
            }
        }

        .descriptionTextLabel {
            cursor: pointer;
            color: #0497bb;
            vertical-align: middle;
            padding-left: 20px;
            //padding-top: 10px;
        }
        .descriptionTechnicalIcon {
            color: #0497bb;
            position: relative;
            padding-left: 30px;
            i {
                cursor: pointer;
            }
            .desktop {
                position: absolute;
                font-size: 20px;
                right: 0;
                top: 0;
            }
            .mobile {
                right: -20px;
                position: absolute;
                font-size: 28px;
                top: -5px;
            }
        }
        .descriptionHideTextValue {
            font-size: 13px;
            padding-top: 20px;
            //padding-left: 18px;
            display: none;
            &.open {
                display: block;
            }
            .descriptionTableContent {
                padding: 10px 0;
                .descriptionTableEmpty {
                    border: 2px solid #dedede;
                    text-align: center;
                    padding: 10px 0;
                    background: #f4f4f4;
                }
            }
            .descriptionTechnicalTableContent {
                border: 2px solid #dedede;
                background: #f4f4f4;
                .technicalTitle {
                    color: #0497bb;
                    font-weight: 500;
                    background-color: #e8e8e8;
                    padding: 5px 0 5px 5px;
                }
                .technicalContent {
                    font-size: 13px;
                    padding: 5px 0 5px 5px;
                    .itemLabel {
                        padding-bottom: 5px;
                        &.adress {
                            color: #0497bb;
                        }
                        .itemLabelText {
                            font-weight: 600;

                        }
                        .itemLabelValue {
                            padding-left: 5px;
                            font-size: 12px;
                        }

                    }
                }
            }
        }
    }
}

