:host {
  display: flex;
  color: #242424;
  font-weight: bold;
  flex-direction: column;
}

.title {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 12px;
}

.legend {
  display: grid;
  font-size: 11px;
  grid-gap: 4px 16px;
  grid-template-columns: repeat(4, minmax(20px, auto));
}

.legend .column-name {
  opacity: 0.6;
}

.legend .value {
  opacity: 0.8;
}

.legend .value.version {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legend .value .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}
