@import '../../../../scss/mixins';

:host {
    display: block;
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
}

.course-list {
    display: block;
    box-sizing: border-box;
    min-height: calc(100% - 43px);
    height: calc(100% - 43px);
}

.course-list-wrapper, .grid-wrapper {
    display: block;
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
    @include courseFilter();

}
