<div class="fileUploadComponent" [ngClass]="{'active':isActive !== null && isActive}">
    <div class="fileUploadWrapper">
        <div class="fileUploadContent">
            <span class="fileUploadTitleContent" (click)="toggleActive()">
                <div class="circleContent">
                    <div class="circle" [ngClass]="{'active':isActive !== null && isActive}"></div>
                </div>
                <span class="fileUploadTitle">{{'lbl_more_adress_add' | translate}}</span>
            </span>
            <div class="fileContent">
                <label class="uploadBtn" for="file">
                    <div>{{'lbl_file_upload' | translate}}</div>
                    <div>{{'lbl_file_upload_property' |translate}}</div>
                    <span>
                        <strong>{{'lbl_file_upload_limit' | translate}}</strong>
                    </span>
                </label>
                <input type="file"
                       name="file"
                       id="file"
                       (change)="changeFile($event.target.files)">
                <div class="fileNameContent">
                    <div class="fileError" *ngIf="isValide" style="padding-bottom: 20px">
                        <div *ngIf="!fileSize" style="color: red">{{'msg_error_file_size' | translate}}</div>
                        <div *ngIf="!fileType" style="color: red">{{'msg_error_file_format' | translate}}</div>
                    </div>
                    <span class="fileEmpty" *ngIf="!fileName">
                        <span><</span><span>{{'lbl_file_not_choose' | translate}}</span><span>></span>
                    </span>
                    <span class="fileName" *ngIf="fileName">
                    <span>file: </span>
                    <strong>{{fileName}}</strong>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
