@import '../../variables.scss';
@import '../../mixins.scss';

.navbar {
    margin-bottom: 0;
    height: auto;
    min-height: initial;

    &.navbar-inverse {
        background: transparent;
        border: transparent;

        button.navbar-toggle {
            &:hover, &:focus {
                background: $color_cerulean_approx;
            }
        }

        .navbar-collapse {
            border: hidden;
        }

        .navbar-nav > {
            li {
                a {
                    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
                    transition: all .1s ease-in-out;
                    text-align: top;

                    &:hover {
                        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                        border-radius: 2px;
                        border: 2px;
                        background-color: $color_polar_approx !important;
                        color: $color_bondi_blue_approx !important;
                    }
                }

                &.active > a, &.active > a:active, &.active > a:focus {
                    background: white;
                    border-bottom: 2px solid $color_bondi_blue_approx;
                    color: $color_bondi_blue_approx;
                }

                > a {
                    &:hover {
                        color: $color_bondi_blue_approx;
                        background: inherit;
                    }

                    &:focus {
                        color: $color_bondi_blue_approx;
                        background: inherit;
                    }
                }
            }

            .open > a {
                background-color: $color_polar_approx !important;
                color: $color_bondi_blue_approx !important;

                &:hover {
                    background-color: $color_polar_approx !important;
                    color: $color_bondi_blue_approx !important;
                }

                &:focus {
                    background-color: $color_polar_approx !important;
                    color: $color_bondi_blue_approx !important;
                }
            }
        }

        .nav > li {
            a {
                color: $color_bondi_blue_approx;
                //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                text-shadow: none;
                font: normal 14px/20px $font_2;

                .countValueButtonInner {
                    color: white;
                }

                #feedsCountValue {
                    margin-left: -17px;
                    margin-top: -13px;
                }
            }

            form a {
                display: block;
                padding: 3px 20px;
            }
        }

        .nav > li > a {
            padding: 10px 10px;

            &.ltiButton {
                padding-top: 11px !important;
                padding-right: 11px !important;
                min-height: 41px;
                background: #f3eee4;
                border-bottom: solid 1px #f5dfb6;
                padding-left: 30px;

                &:hover {
                    border-bottom: solid 1px $color_bondi_blue_approx;
                }
            }

            &:hover {
                background: $color_cerulean_approx;
            }

            &:focus {
                background: transparent;
                background-color: transparent;
            }
        }

        .navbar-brand:hover {
            background-color: $color_cerulean_approx !important;
        }
    }

    > {
        .container .navbar-brand {
            margin-left: 15px;
            margin-top: -6px;
        }

        .container-fluid .navbar-brand {
            margin-left: 15px;
            margin-top: -6px;
        }
    }

    .navbar-brand {
        @extend %extend_2;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all .1s ease-in-out;

        &:focus .navbar-brand-bottom {
            @extend %extend_2;
        }
    }
}

.navbar-toggle {
    @extend %extend_7;
}

/*MENU STYLES END*/
.navbar-nav {
    .glyphicon-off {
        font-size: $font_size_navbar_glyphiconicon_off;
        margin-left: 3px;
        margin-right: 10px;
    }
}

.navbar-bottom {
    h3 {
        color: $color_celeste_approx;
    }

    .nav-tabs > li {
        margin-top: 5px;

        > a {
            color: $white;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 2px;
            border-bottom-color: transparent;

            &:hover {
                background: $color_cerulean_approx;
            }
        }
    }
}

.footer {

    .row {
        background-color: transparent;
    }

    .nav-tabs {
        background: $color_bondi_blue_approx no-repeat $data_uri_23;
        margin-right: 40px;
        // float: right;
        display: inline;
        // height: 50px;
        // margin-bottom: -5px;
        padding-left: 180px;
        //Instead of the line below you could use @include border-top-left-radius($radius)
        border-top-left-radius: 2px;
        //Instead of the line below you could use @include border-top-right-radius($radius)
        border-top-right-radius: 2px;
    }
}

.nav-tabs {
    border-bottom: 0;
    padding-right: 5px;

    > li {
        > a {
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .1s ease-in-out;
            border-bottom: 0px solid transparent;

            &:hover {
                border: 1px solid transparent;
                border-bottom: 0px solid transparent;
                background: $color_cerulean_approx;
            }
        }

        &.active > a {
            color: $color_bondi_blue_approx;

            &:hover {
                color: $color_bondi_blue_approx;
            }

            &:focus {
                color: $color_bondi_blue_approx;
            }
        }
    }
}

.nav-tabs-bottom {
    margin-bottom: 30px;
}

/**********************************************************
 * ----------------------- MEDIA ----------------------- *
**********************************************************/

/////////// XS ///////////

@media(max-width: 767px) { /*XS size*/

    .navbar {

        &.navbar-inverse {

            .navbar-collapse {

                &.collapse {
                    /*display: block!important;*/
                    height: auto !important;
                    padding-bottom: 0;
                    overflow: visible !important;
                }

                .navbar-nav > {
                    li {
                        a, a:hover {
                            border-bottom: 1px solid $color_gray;
                        }

                        a {

                            #feedsCountValue {
                                .countValueButtonInner {
                                    background-color: $white;
                                    color: $color_bondi_blue_approx;
                                }
                            }

                        }
                    }
                }

            }

        }

    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin: 0px;
    }

    .footer {
        height: inherit;

        .nav-tabs {
            padding-left: 212px;
            margin-left: 20px;
            margin-right: 20px;
            height: inherit;
            background: $data_uri_39;
        }

        .navbar-bottom {
            .nav-tabs > li {
                width: inherit;
            }
        }

        .version {
            position: absolute;
            padding-left: 20px;
            margin-bottom: 10px;
        }
    }
}

/////////// SM ///////////

@media (min-width: 768px) and (max-width: 991px) { /*SM size*/ /*uLMS - IDP*/

    .footer .nav-tabs {
        margin-right: 20px;
    }

    .navbar-bottom {
        .nav-tabs > li {
            width: inherit;
        }
    }
}

/////////// LG ///////////

@media(min-width: 992px) { /*min MD size*/

    .navbar-bottom .nav-tabs > li {
        width: inherit;
    }

}
