<div class="statusContainer">
  <div class="statusWrapper">
    <div class="matchContent">
      <span class="">Current tries: </span>
      <span *ngIf="score$ | async; let scoreValue; else defaultScore">{{scoreValue}}</span>
    </div>
    <div class="highScoreContent">
      <span class="">Best: </span>
      <span *ngIf="highScore$ | async; let highScoreValue; else defaultScore">{{highScoreValue}}</span>
    </div>
    <div class="restartContent">
      <div class="restartBtn" (click)="restartGame()">RESTART</div>
    </div>
  </div>
</div>
<ng-template #defaultScore>0</ng-template>
