<div class="container">
  <h1>Reactive Forms Dynamic</h1>
  <!--<form [formGroup]="formData" (submit)="onSubmit()" novalidate>-->
<!--  <form [formGroup]="formData" (submit)="onSubmit()" novalidate>
    <input type="text" name="name" style="display:none" value="fake input"/>
    <input type="email" name="email" style="display:none" value="fake input"/>

    <div class="form-group">
      <label for="name">Teljes név</label>
      <input class="form-control" type="text"
             name="name"

             autocomplete="nope"
             id="name">

      &lt;!&ndash;<div [hidden]="formData.controls.name.valid || formData.controls.name.pristine"
           class="alert alert-danger">Name is required
      </div>&ndash;&gt;
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input class="form-control" type="email"
             autocomplete="nope"
             name="email"
             id="email">
    </div>
    &lt;!&ndash;<div [hidden]="formData.controls.email.valid || formData.controls.email.pristine"
         class="alert alert-danger">Email is required
    </div>&ndash;&gt;

    <div class="form-group">
      <label for="locale">Válasszon nyelvet</label>
      <select class="form-control"
              name="locale"
              id="locale">
        <option *ngFor="let lang of langs"
                [value]="lang">{{lang}}
        </option>
      </select>
    </div>
    <p>
      <button type="submit"
              class="btn btn-success"
              >Submit
      </button>
    </p>
    &lt;!&ndash;<pre>{{formData.value | json}}</pre>&ndash;&gt;
  </form>-->
</div>
